
<% leader = User.find_by(id:@threadtype.leader_id) %>
<% current_user_id = -1 %>
<% if logged_in? %>
  <% current_user_id = current_user.id %>
<% end %>
<div class="profile_menu_tab">
  <div class="get_user_id"id="<%= current_user_id %>"></div>
  <ul class="nav flex-column">
    <li class="nav-item profile_contents_button blue-nav <% if params[:type] == nil || params[:type] == "1" || (params[:type] == "4" && @threadtype.type == "every" )|| params[:type] == "2" %>active<% end %>">
      <%= link_to '/threadtype/show/'+ @threadtype.id.to_s + '/2',class:"nav-link" do %>
        <div class="text_cover">
          <div class="jp">
            人気スレッド
          </div>
          <div class="en">
            Popular Thread
          </div>
        </div>
        <div class="menu_right_button">
          <i class="fas fa-plus"></i>
        </div>
      <% end %>
    </li>
    <li class="nav-item profile_contents_button blue-nav <% if params[:type] == "3" %>active<% end %>">
      <%= link_to '/threadtype/show/'+ @threadtype.id.to_s + '/3',class:"nav-link" do %>
        <div class="text_cover">
          <div class="jp">
            最新スレッド
          </div>
          <div class="en">
            Latest Thread
          </div>
        </div>
        <div class="menu_right_button">
          <i class="fas fa-plus"></i>
        </div>
      <% end %>
    </li>
    <% if @threadtype.type != "every" %>
      <li class="nav-item profile_contents_button blue-nav <% if params[:type] == "4" %>active<% end %>">
        <%= link_to '/threadtype/show/'+ @threadtype.id.to_s + '/4',class:"nav-link" do %>
          <div class="text_cover">
            <div class="jp">
              メンバー
            </div>
            <div class="en">
              Member
            </div>
          </div>
          <div class="menu_right_button">
            <i class="fas fa-plus"></i>
          </div>
        <% end %>
      </li>
    <% end %>
    <li class="nav-item profile_contents_button blue-nav <% if params[:type] == "5" %>active<% end %>">
      <%= link_to '/threadtype/show/'+ @threadtype.id.to_s + '/5',class:"nav-link" do %>
        <div class="text_cover">
          <div class="jp">
            スレッド作成
          </div>
          <div class="en">
            Make Thread
          </div>
        </div>
        <div class="menu_right_button">
          <i class="fas fa-plus"></i>
        </div>
      <% end %>
    </li>
    <li class="nav-item profile_contents_button blue-nav <% if params[:type] == "6" %>active<% end %>">
      <%= link_to '/threadtype/show/'+ @threadtype.id.to_s + '/6',class:"nav-link" do %>
        <div class="text_cover">
          <div class="jp">
            キーワード検索
          </div>
          <div class="en">
            Search
          </div>
        </div>
        <div class="menu_right_button">
          <i class="fas fa-plus"></i>
        </div>
      <% end %>
    </li>
    <% if logged_in? && @threadtype.leader_id == current_user.id %>
      <li class="nav-item profile_contents_button blue-nav <% if params[:type] == "9" %>active<% end %>">
        <%= link_to '/profile/14/'+ @threadtype.id.to_s,class:"nav-link" do %>
          <div class="text_cover">
            <div class="jp">
              コミュニティ管理画面へ
            </div>
            <div class="en">
              Community Manage Page
            </div>
          </div>
          <div class="menu_right_button">
            <i class="fas fa-plus"></i>
          </div>
        <% end %>
      </li>
    <% end %>
    <% if logged_in? && @threadtype.users.find_by(id:current_user.id) != nil %>
      <li class="nav-item profile_contents_button blue-nav <% if params[:type] == "9" %>active<% end %>">
        <%= link_to '/threadtype/show/'+ @threadtype.id.to_s + '/9',class:"nav-link" do %>
          <div class="text_cover">
            <div class="jp">
              このコミュニティを退会する
            </div>
            <div class="en">
              Leave this Community
            </div>
          </div>
          <div class="menu_right_button">
            <i class="fas fa-plus"></i>
          </div>
        <% end %>
      </li>
    <% end %>
    <% if logged_in? && current_user.approvals.find_by(threadtype_id:@threadtype.id) != nil %>
      <li class="nav-item profile_contents_button blue-nav <% if params[:type] == "9" %>active<% end %>">
        <%= link_to '/threadtype/show/'+ @threadtype.id.to_s + '/10',class:"nav-link" do %>
          <div class="text_cover">
            <div class="jp">
              参加申請を取り消す
            </div>
            <div class="en">
              Remove approval of Community
            </div>
          </div>
          <div class="menu_right_button">
            <i class="fas fa-plus"></i>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<% if @threadtype.type != "every" || 1 == 1 %>
  <div class="profile_menu_tab">
    <div class="get_user_id"id="<%= current_user_id %>"></div>
    <ul class="nav flex-column">
      <li style="display:none"class="nav-item profile_contents_button blue-nav <% if params[:type] == nil || params[:type] == "1" || (params[:type] == "4" && @threadtype.type == "every" )|| params[:type] == "2" %>active<% end %>">
        <div class="nav-link">
          <div class="text_cover">
            <div class="jp">
              メンバーリスト
            </div>
            <div class="en">
              Member List
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item profile_contents_button">
        <%= link_to("/threadtype/show/"+ @threadtype.id.to_s + "/4") do %>
          <div class="threadtype_img_cover users_all">
            <% threadtype_users = @threadtype.users %>
            <% user_sum = threadtype_users.count %>
            <% threadtype_users.limit(3).each do |user|%>
              <% url = "/profile" %>
              <% if logged_in? && current_user.id != user.id %>
                <% url = "/other_profile/#{user.id}" %>
              <% end %>
              <object>
                <%= link_to url,class:"user_cover" do %>
                  <% if user.user_threadtypes.find_by(threadtype_id:@threadtype.id).created_at > Time.current.ago(7.days) %>
                    <i class="new_user_icon fa fa-user-plus" aria-hidden="true"></i>
                  <% end %>
                  <% if user.image == 0 %>
                    <% if user.avater.attached? %>
                      <%= image_tag user.avater , :class => "user_img"%>
                    <% else %>
                      <%= image_tag("/userimage/user1.png", :class => "user_img") %>
                    <% end %>
                  <% else %>
                    <%= image_tag("/userimage/user#{user.image}.png", :class => "user_img") %>
                  <% end %>
                  <div class="user_name">
                    <%= user.name %>
                  </div>
                <% end %>
              </object>
            <% end %>
          </div>
        <% end %>
      </li>
      <li class="nav-item profile_contents_button blue-nav <% if params[:type] == "6" %>active<% end %>">
        <%= link_to '/threadtype/show/'+ @threadtype.id.to_s + '/4',class:"nav-link" do %>
          <div class="text_cover">
            <div class="en_jp">
              Member List / メンバーリスト
            </div>
          </div>
        <% end %>
      </li>
    </ul>
  </div>
<% end %>