
<% first_group = threadtype.groups.first %>
<% thread_id = first_group.id %>
<div class="threadtype_threads">
  <ul class="nav nav-tabs title_nav" id="myTab" role="tablist">
    <li class="nav-item active blue-nav width_max">
      <a class="nav-link profile_history_change2" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
        <i class="fas fa-comments"></i>
        <div class="text_cover">
          Popular Thread / 人気スレッド
        </div>
      </a>
    </li>
  </ul>
  <%= form_tag('/threadtype/search',method: :post,class: "search_form_top",style:"margin: 10px 5px;") do %>
    <%= text_field_tag :search_text ,@search_text, class: "form-control form_input",placeholder:"Search / 検索" %>
    <%= hidden_field_tag :threadtype_id ,@threadtype.id %>
    <%= hidden_field_tag :type_id, "6" %>
    <%= hidden_field_tag :page_id, params[:page] %>
    <span class="input-group-btn">
      <button type="submit"class="btn btn-warning form_button">
        <span class="glyphicon glyphicon-search"></span>
        検索
      </button>
    </span>
  <% end %>
  <% there_be = false %>
  <% @popular_groups.each do |group| %>
    <% there_be = true %>
    <%= render partial:"/groups/group", locals: { group:group,type:"normal" } %>
  <% end %>
  <%= paginate @popular_groups , outer_window: 3%>

  <%= link_to('/threadtype/show/'+ @threadtype.id.to_s + '/5', type:"button", class:"login_join_button btn mes_button makethread_link") do %>
    <div class="text_box">
        Make Thread / スレッドを作成する
    </div>
  <% end %>
</div>
