<% there_be = true %>
<% if @threadtype.leader_id != 0 %>
  <% leader = User.find_by(id:@threadtype.leader_id) %>
<% end %>
<%= render partial:"threadtype/explain_table" %>

<% threadtype_id = @threadtype.id %>
<div class="explain_join_button join_button_cover join_button<%= threadtype_id%>">
  <% if logged_in? && current_user.threadtypes.find_by(id:threadtype_id) != nil %>
    <%= button_tag type:"button",class:"btn mes_button join_button unjoin_button_submit",id:threadtype_id,style:"cursor:default" do %>
      <div class="text_box">
        <div class="jp">
          Joined Community / 参加済コミュニティ
        </div>
      </div>
    <% end %>
  <% else %>
    <% if @threadtype.approval == "approval" %>
      <% if logged_in? && current_user.approvals.find_by(threadtype_id:threadtype_id) != nil %>
        <%= button_tag type:"button",class:"btn mes_button join_button approved_button_submit click",id:threadtype_id do %>
          <div class="text_box">
            <div class="jp">
              You Approved Community / コミュニティ参加申請済み
            </div>
          </div>
        <% end %>
      <% else %>
        <%= button_tag type:"button",class:"btn mes_button join_button approves_button_submit click",id:threadtype_id do %>
          <div class="text_box">
            <div class="jp">
              Approve this Community / コミュニティに参加申請する
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <%= button_tag type:"button",class:"btn mes_button join_button join_button_submit click",id:threadtype_id do %>
        <div class="text_box">
          <div class="jp">
            Join this Community / このコミュニティに参加する
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
<% first_group = threadtype.groups.first %>
<% thread_id = first_group.id %>
<div class="threadtype_threads">
  <ul class="nav nav-tabs title_nav" id="myTab" role="tablist">
    <li class="nav-item active blue-nav width_max">
      <a class="nav-link profile_history_change2" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
        <i class="fas fa-comments"></i>
        <div class="text_cover">
          Popular Thread / 人気スレッド
        </div>
      </a>
    </li>
  </ul>
  <div class="lang_bar_cover" id="lang_bar_cover"data-toggle="tooltip" data-placement="bottom" data-original-title="説明">
    <span class="glyphicon glyphicon-chevron-up up_slider" aria-hidden="true"></span>
    <div class="lang_bar">
      <div class="country_flag en_country">
        Hide English
      </div>
      <input id="slider" data-slider-id='ex1Slider' type="text" data-slider-min="0"
          data-slider-max="100" data-slider-step="1" data-slider-value="50"/>
      <div class="country_flag jp_country">
        日本語非表示
      </div>
    </div>
  </div>

  <%= form_tag('/threadtype/search',method: :post,class: "search_form_top",style:"margin: 10px 5px;") do %>
    <%= text_field_tag :search_text ,@search_text, class: "form-control form_input",placeholder:"Search / 検索" %>
    <%= hidden_field_tag :threadtype_id ,@threadtype.id %>
    <%= hidden_field_tag :type_id, "6" %>
    <%= hidden_field_tag :page_id, params[:page] %>
    <span class="input-group-btn">
      <button type="submit"class="btn btn-warning form_button">
        <span class="glyphicon glyphicon-search"></span>
        検索
      </button>
    </span>
  <% end %>
  <% there_be = false %>
  <% @popular_groups.each do |group| %>
    <% there_be = true %>
    <%= render partial:"/groups/group", locals: { group:group,type:"normal" } %>
  <% end %>
  <%= paginate @popular_groups , outer_window: 3%>

</div>
