
<% leader = User.find_by(id:@threadtype.leader_id) %>
<% current_user_id = -1 %>
<% if logged_in? %>
  <% current_user_id = current_user.id %>
<% end %>
<div class="profile threadtype_page">
  <div class="profile_sub"style="display:none">
    <% if @threadtype.type == "every" %>
      <div class="official_mark">
        Official / 公式
      </div>
    <% end %>
    <div class="profile_picture">
      <% if @threadtype.pict.attached? %>
        <%= image_tag @threadtype.pict , :class => "group_img",:style => "border-radius:none"%>
      <% else %>
        <%= image_tag("group_icon/flag1.png", :class => "group_img",:style => "border-radius:none") %>
      <% end %>
    </div>
    <div class="profile_contents_change">
      <div class="get_user_id"id="<%= current_user_id %>"></div>
      <ul class="nav flex-column">
        <li class="nav-item profile_contents_button blue-nav <% if params[:type] == nil || params[:type] == "1" || (params[:type] == "4" && @threadtype.type == "every" )|| params[:type] == "2" %>active<% end %>">
          <%= link_to '/threadtype/show/'+ @threadtype.id.to_s + '/2',class:"nav-link" do %>
            <div class="jp">
              人気トピック
            </div>
            <div class="en">
              Popular Topic
            </div>
          <% end %>
        </li>
        <li class="nav-item profile_contents_button blue-nav <% if params[:type] == "3" %>active<% end %>">
          <%= link_to '/threadtype/show/'+ @threadtype.id.to_s + '/3',class:"nav-link" do %>
            <div class="jp">
              最新トピック
            </div>
            <div class="en">
              Latest Topic
            </div>
          <% end %>
        </li>
        <% if @threadtype.type != "every" %>
          <li class="nav-item profile_contents_button blue-nav <% if params[:type] == "4" %>active<% end %>">
            <%= link_to '/threadtype/show/'+ @threadtype.id.to_s + '/4',class:"nav-link" do %>
              <div class="jp">
                メンバー
              </div>
              <div class="en">
                Member
              </div>
            <% end %>
          </li>
        <% end %>
        <li class="nav-item profile_contents_button blue-nav <% if params[:type] == "5" %>active<% end %>">
          <%= link_to '/threadtype/show/'+ @threadtype.id.to_s + '/5',class:"nav-link" do %>
            <div class="jp">
              トピック作成
            </div>
            <div class="en">
              Make Topic
            </div>
          <% end %>
        </li>
        <li class="nav-item profile_contents_button blue-nav <% if params[:type] == "6" %>active<% end %>">
          <%= link_to '/threadtype/show/'+ @threadtype.id.to_s + '/6',class:"nav-link" do %>
            <div class="jp">
              キーワード検索
            </div>
            <div class="en">
              Search
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="profile_main">
    <div class="post_content_cover threadtype_title_show">
      <div class="post_content_position width_max">
        <div class="thread_title">
          <div class="title_padding no_inline"style="font-size: 20px!important;">
            <%= @threadtype.type_en %> / <%= @threadtype.type_jp %>
          </div>
        </div>
      </div>
    </div>
    <div class="thread_cover threadtype_cover"style="border:solid thin #fff">
      <% if params[:type] == nil || params[:type] == "1"%>
        <%= render partial: "/threadtype/popular_thread", locals: { threadtype: @threadtype }%>
      <% elsif params[:type] == "2"  %>
        <%= render partial: "/threadtype/popular_thread", locals: { threadtype: @threadtype }%>
      <% elsif params[:type] == "3"  %>
        <%= render partial: "/threadtype/latest_thread", locals: { threadtype: @threadtype }%>
      <% elsif params[:type] == "4"  %>
        <%= render partial: "/threadtype/member", locals: { threadtype: @threadtype }%>
      <% elsif params[:type] == "5"  %>
        <%= render partial: "/threadtype/make_thread", locals: { threadtype: @threadtype }%>
      <% elsif params[:type] == "6" || params[:type] == "7" || params[:type] == "8" %>
        <%= render partial: "/threadtype/search", locals: { threadtype: @threadtype }%>
      <% elsif params[:type] == "9"  %>
        <%= render partial: "/threadtype/retire", locals: { threadtype: @threadtype }%>
      <% elsif params[:type] == "10"  %>
        <%= render partial: "/threadtype/approval_retire", locals: { threadtype: @threadtype }%>
      <% end %>
    </div>
  </div>
</div>

<div class="profile_modal">
  <div class="modal fade" id="report_group_modal" tabindex="-1">
    <div class="modal-dialog"style="width:90vw">
      <div class="modal-content">
        <%= form_tag('/report/group',method: :post) do %>
          <div class="modal-body">
            <div class="title">
              通報の理由 / Report Reason
            </div>
            <%= radio_button_tag :type, 4 ,"checked"%>不適切な投稿 / Sensitive Content<br>
            <%= radio_button_tag :type, 1 %>乗っ取られたアカウント / Hacked Account<br>
            <%= radio_button_tag :type, 2 %>偽のアカウント / False Account<br>
            <%= radio_button_tag :type, 3 %>その他 / Other<br>
            <div class="title"style="margin-top:10px;margin-bottom:5px;">
              Specific Content / 具体的な内容
            </div>
            <%= text_area_tag :report_content,"", class: "form-control form_input" ,placeholder:"",rows:"5" %>
          </div>
          <div class="modal-footer follow_modal_footer">
            <%= hidden_field_tag :report_id,"-1", class: "form-control form_input report_group_input" %>
            <%= hidden_field_tag :page_url,request.fullpath %>
            <button type="submit" class="btn btn-primary report_group_button_submit">
              <div class="jp">
                送信
              </div>
              <div class="en">
                Send
              </div>
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <div class="jp">
                戻る
              </div>
              <div class="en">
                Back
              </div>
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>