<% if manager_logged_in? %>
  <% url = request.fullpath %>
  <div class="manager_header header">
    <div class="width_set"style="width:100vw;">
      <div class="nav-fall border border-primary">
        <%= link_to '/manager/search_thread',class:"link_text" do %>
          <div class="text_fill
          <% if url == '/' || url.include?('search_thread')%>
            <%= "now_page" %>
          <% end %>">
            <div class="height_control"></div>
            <span class="icon glyphicon glyphicon-comment"></span>
            <div style=""class="float">
              <div class="float_jap">
                スレッド検索
              </div>
              <div class="base_en">
                Thread
              </div>
            </div>
          </div>
        <% end %>
        <%= link_to '/manager/search_post',class:"link_text" do %>
          <div class="text_fill
          <% if url == '/' || url.include?('search_post')%>
            <%= "now_page" %>
          <% end %>">
            <div class="height_control"></div>
            <span class="icon glyphicon glyphicon-comment"></span>
            <div style=""class="float">
              <div class="float_jap">
                投稿
              </div>
              <div class="base_en">
                Post
              </div>
            </div>
          </div>
        <% end %>
        <%= link_to '/manager/search_user', data: {"turbolinks"=>false},class:"link_text" do %>
          <div class="text_fill
          <% if url == '/' || url.include?('search_user')%>
            <%= "now_page" %>
          <% end %>">
            <div class="height_control"></div>
            <span class="icon glyphicon glyphicon-user" aria-hidden="true"></span>
            <div class="float">
              <div class="float_jap">
                ユーザー
              </div>
              <div class="base_en">
                User
              </div>
            </div>
          </div>
        <% end %>
        <%= link_to '/manager/search_report_user', data: {"turbolinks"=>false},class:"link_text" do %>
          <div class="text_fill
          <% if url == '/' || url.include?('search_report_user')%>
            <%= "now_page" %>
          <% end %>">
            <div class="height_control"></div>
            <span class="icon glyphicon glyphicon-user" aria-hidden="true"></span>
            <div class="float">
              <div class="float_jap">
                通報ユーザー
              </div>
              <div class="base_en">
                Report User
              </div>
            </div>
          </div>
        <% end %>
        <%= link_to '/manager/search_report_post', data: {"turbolinks"=>false},class:"link_text" do %>
          <div class="text_fill
          <% if url == '/' || url.include?('search_report_post')%>
            <%= "now_page" %>
          <% end %>">
            <div class="height_control"></div>
            <span class="icon glyphicon glyphicon-comment"></span>
            <div class="float">
              <div class="float_jap">
                通報投稿
              </div>
              <div class="base_en">
                Report Post
              </div>
            </div>
          </div>
        <% end %>
        <%= link_to '/manager/search_report_group', data: {"turbolinks"=>false},class:"link_text" do %>
          <div class="text_fill
          <% if url == '/' || url.include?('search_report_group')%>
            <%= "now_page" %>
          <% end %>">
            <div class="height_control"></div>
            <span class="icon glyphicon glyphicon-comment"></span>
            <div class="float">
              <div class="float_jap">
                通報スレッド
              </div>
              <div class="base_en">
                Report Thread
              </div>
            </div>
          </div>
        <% end %>
        <%= link_to '/manager/search_report_threadtype', data: {"turbolinks"=>false},class:"link_text" do %>
          <div class="text_fill
          <% if url == '/' || url.include?('search_report_threadtype')%>
            <%= "now_page" %>
          <% end %>">
            <div class="height_control"></div>
            <span class="icon glyphicon glyphicon-comment"></span>
            <div class="float">
              <div class="float_jap">
                通報コミュニティ
              </div>
              <div class="base_en">
                Report Community
              </div>
            </div>
          </div>
        <% end %>

        <%= link_to '/manager/prohibit',class:"link_text" do %>
          <div class="text_fill
          <% if url.include?('prohibit') %>
            <%= "now_page" %>
          <% end %>">
            <div class="height_control"></div>
            <span class="icon glyphicon glyphicon-search"></span>
            <div class="float">
              <div class="float_jap">
                禁止ワード設定
              </div>
              <div class="base_en">
                Warn Ward
              </div>
            </div>
          </div>
        <% end %>
        <%= link_to '/manager/category', data: {"turbolinks"=>false},class:"link_text" do %>
          <div class="text_fill
          <% if url == '/' || url.include?('category')%>
            <%= "now_page" %>
          <% end %>">
            <div class="height_control"></div>
            <span class="icon glyphicon glyphicon-th-list" aria-hidden="true"></span>
            <div class="float">
              <div class="float_jap">
                カテゴリー
              </div>
              <div class="base_en">
                Category
              </div>
            </div>
          </div>
        <% end %>
        <%= link_to '/manager/news_make', data: {"turbolinks"=>false},class:"link_text" do %>
          <div class="text_fill
          <% if url == '/' || url.include?('news_make')%>
            <%= "now_page" %>
          <% end %>">
            <div class="height_control"></div>
            <span class="icon glyphicon glyphicon-bell" aria-hidden="true"></span>
            <div class="float">
              <div class="float_jap">
                お知らせ作成
              </div>
              <div class="base_en">
                News Make
              </div>
            </div>
          </div>
        <% end %>
        <%= link_to '/',class:"link_text" do %>
          <div class="text_fill">
            <div class="height_control"></div>
            <span class="icon glyphicon glyphicon-share-alt"></span>
            <div style=""class="float">
              <div class="float_jap">
                戻る
              </div>
              <div class="base_en">
                Back
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="header_plus"></div>
  <% if !url.include?('profile') && !url.include?('users') && !url.include?('login') && !url.include?('policy') &&
  !url.include?('term') && !url.include?('contact') && !url.include?('groups') && !url.include?('notice') &&
  !url.include?('account_activations') && !url.include?('help') && !url.include?('oauth_complete') &&
  !url.include?('create_oauth') && !url.include?('prohibit') && !url.include?('news_make')%>
    <div class="lang_bar_cover" id="lang_bar_cover"data-toggle="tooltip" data-placement="bottom" data-original-title="説明">
      <span class="glyphicon glyphicon-chevron-up up_slider" aria-hidden="true"></span>
      <div class="lang_bar">
        <div class="country_flag en_country">
          Hide English
        </div>
        <input id="slider" data-slider-id='ex1Slider' type="text" data-slider-min="0"
            data-slider-max="100" data-slider-step="1" data-slider-value="50"/>
        <div class="country_flag jp_country">
          日本語非表示
        </div>
      </div>
    </div>
    <span class="glyphicon glyphicon-chevron-down down_slider" aria-hidden="true"></span>
  <% end %>


  <style>
    .dropdown:hover > .dropdown-menu{
      display:block;
    }
  </style>
<% end %>

<div style="margin-top:40px">
</div>
