<% if manager_logged_in? %>
  <% search_text = "" %>
  <% if session["search_text"].nil? == false && session["search_text"] != "" %>
    <% search_text = session["search_text"] %>
  <% end %>

  <% lang = session["lang"] %>
  <div class="search_result">
    <div class="category_show">
      <%= form_tag('/manager/report_group',method: :post,class: "search_form_top") do %>
        <%= text_field_tag :search_text ,search_text, class: "form-control form_input",placeholder:"Search / 検索" %>
        <span class="input-group-btn">
          <button type="submit"class="btn btn-warning form_button">
            <span class="glyphicon glyphicon-search"></span>
            検索
          </button>
        </span>
      <% end %>
    </div>
    <div class="thread_all thread_all_post">
      <% there_be = false %>
      <% search_groups = @report_groups %>
      <% if !search_text.nil? %>
        <% search_groups = @report_groups.eager_load(:group).where("title_jp LIKE ? OR title_en LIKE ?", "%"+ search_text +"%", "%"+ search_text +"%") %>
      <% end %>
      <% show_max = 10.0 %>
      <% group_num = search_groups.count %>
      <% page_num = (group_num / show_max).ceil %>
      <% page_id = params[:page].to_i %>
      <% if page_id.nil? || page_id.to_i > page_num || page_id.to_i < 1 %>
        <% page_id = 1 %>
      <% end %>
      <% search_groups.offset(show_max*(page_id - 1)).limit(show_max).each do |report_group| %>
        <% group = report_group.group %>
        <%= link_to("/manager/search_report_group_detail/"+report_group.id.to_s , class:"thread_link") do %>
          <% there_be = true %>
          <div class="thread_cover"
            <% if group.deleted == true %>
              style="background:#ff5555;"
            <% end %>>
            <div class="group_user_cover">
              <div class="group_img_cover">
                <object>
                <% url = "/profile" %>
                <% if logged_in? && current_user.id != group.user.id %>
                  <% url = "/other_profile/#{group.user.id}" %>
                <% end %>
                <%= link_to url do %>
                  <% if group.user.image == 0 %>
                    <% if group.user.avater.attached? %>
                      <%= image_tag group.user.avater , :class => "group_img"%>
                    <% else %>
                      <% if group.user.photo.nil? %>
                        <%= image_tag("/userimage/user1.png", :class => "group_img") %>
                      <% else %>
                        <%= image_tag show_image_user_path(group.user), :class => "group_img" %>
                      <% end %>
                    <% end %>
                  <% else %>
                    <%= image_tag("/userimage/user#{group.user.image}.png", :class => "group_img") %>
                  <% end %>
                <% end %>
                </object>
              </div>
            </div>
            <div class="thread_content">
              <div class="post_content_cover">
                <div class="user_name">
                  <object>
                  <% if !logged_in? || current_user.id != group.user.id %>
                    <%= link_to "/other_profile/#{group.user.id}" do %>
                      <%= simple_format(text_url_to_link(h(group.user.name))) %>
                    <% end %>
                  <% else %>
                    <%= link_to "/profile" do %>
                      <%= simple_format(text_url_to_link(h(group.user.name))) %>
                    <% end %>
                  <% end %>
                  </object>
                  <div class="create_time"style="float:right">
                    <%= group.created_at.strftime('%Y/%m/%d') %>
                  </div>
                </div>
                <div class="post_content_position en_position">
                  <div class="post_content en">
                    <div class="post_content_text no_inline">
                      <%= simple_format(text_url_to_link(h(group.title_en))) %>
                    </div>
                  </div>
                </div>
                <div class="post_content_position_space">
                  <span class="slider_icon glyphicon glyphicon-resize-horizontal"></span>
                </div>
                <div class="post_content_position jp_position">
                  <div class="post_content en">
                    <div class="post_content_text no_inline">
                      <%= simple_format(text_url_to_link(h(group.title_jp))) %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if there_be == false %>
        <div class="not_found">
          <div class="en">
            There are no search results fo "<%=search_text%>".
          </div>
          <div class="jp">
            「"<%=search_text%>"」の検索結果はありません。
          </div>
        </div>
      <% else %>
        <%= paginate @report_groups ,outer_window: 3%>
      <% end %>
    </div>
  </div>
<% end %>
