

<% if manager_logged_in? %>
  <% report_post = Reportpost.find_by(id:params[:id]) %>
  <% post = report_post.post %>
  <div class="thread_page_num"style="display:none"id="<%= @thread_page_num.to_i %>"></div>
  <div class="search_result thread_page">
    <div class="panel-title" style="display:inline-block;margin-bottom:0px;margin-top:10px">
      <div class="panel-title-text">
        通報された投稿
      </div>
    </div>
    <div class="thread_all thread_all_post"style="padding-top:10px;">
      <div class="thread_cover_cover"style="border: solid thin #999;border-radius: 5px!important;">
        <%= render partial: 'posts/post' ,locals: { post:post,type:"normal"} %>
      </div>
    </div>
    <div class="panel-title" style="display:inline-block;margin-bottom:0px;margin-top:10px">
      <div class="panel-title-text">
        通報した人
      </div>
    </div>
    <div class="thread_all thread_all_post">
      <% there_be = false %>
      <div class="user_id"id="<%= current_user.id %>"></div>
      <%#= render from_user %>
    </div>
    <div class="panel-title" style="display:inline-block;margin-bottom:0px;margin-top:10px">
      <div class="panel-title-text">
        通報した理由：
      </div>
      <div style="color:#555">
        <% if report_post.reporttype == "1" %>
          　乗っ取られたアカウント / Hacked Account
        <% elsif report_post.reporttype == "2" %>
          　偽のアカウント / False Account
        <% elsif report_post.reporttype == "3" %>
          　その他 / Other
        <% elsif report_post.reporttype == "4" %>
          　不適切な投稿 / Sensitive Content
        <% end %>
      </div>
      具体的な内容 / Specific Content
      <div style="color:#555">
        <% if report_post.content == nil %>
          　なし / Nothing
        <% else %>
          　<%= simple_format(text_url_to_link(h(report_post.content))) %>
        <% end %>
      </div>
    </div>
    <br><br>
    <%= form_tag({controller: :manager, action: :post_delete}, { method: :post, style:"display: inline-block"})  do  %>
      <%= hidden_field_tag :id,params[:id].to_i %>
      <%= hidden_field_tag :url,"search_report_post" %>
      <button type="submit" name="button" class="btn mes_button normal_button" id="3">
        <div class="text_box">
          <div class="jp">
            消去
          </div>
          <div class="en">
            Delete
          </div>
        </div>
      </button>
    <% end %>
    <% link_id = (post.id_ingroup - 1) / 10 + 1 %>
    <% if link_id < 1 %>
      <% link_id = 1 %>
    <% end %>
    <% if post.group %>
      <%= link_to "/thread/show/"+post.group_id.to_s+"/"+link_id.to_s do %>
        <button type="submit" name="button" class="btn mes_button normal_button" id="3">
          <div class="text_box">
            <div class="jp">
              トピックへ飛ぶ
            </div>
            <div class="en">
              Jump to Topic
            </div>
          </div>
        </button>
      <% end %>
    <% end %>
  </div>
<% end %>
<br>
