<% if manager_logged_in? %>
  <% lang = session["lang"] %>
  <% session["now_group"] = params[:id] %>
  <% thread = Group.find(params[:id]) %>
  <% thread.seen_num+=1 %>
  <% thread.save %>

  <div class="thread_page_num"style="display:none"id="<%= @thread_page_num.to_i %>"></div>
  <div class="search_result thread_page">
    <div class="panel-title"style="display:inline-block">
      <div class="panel-title-text">
        <div class="float_jp">
          <%= simple_format(text_url_to_link(h(thread.title_jp))) %>
        </div>
        <div class="float_en">
          <%= simple_format(text_url_to_link(h(thread.title_en))) %>
        </div>
      </div>
    </div>
    <div class="pvpage_head">
    </div>
    <div class="thread_all thread_all_post"style="padding-top:10px;">
      <div class="thread_cover_cover">
        <%= render partial:"/groups/group", locals: { group:thread,type:"normal" } %>
      </div>
    </div>
    <%= form_tag({controller: :manager, action: :thread_delete}, { method: :post,style:"display:inline-block"})  do  %>
      <%= hidden_field_tag :id,params[:id].to_i %>
      <button type="submit" name="button" type="button" class="btn mes_button normal_button" id="3">
        <div class="text_box">
          <div class="jp">
            消去
          </div>
          <div class="en">
            Delete
          </div>
        </div>
      </button>
    <% end %>
    <%= link_to "/thread/show/"+params[:id] do %>
      <button type="submit" name="button" type="button" class="btn mes_button normal_button" id="3">
        <div class="text_box">
          <div class="jp">
            トピックへ飛ぶ
          </div>
          <div class="en">
            Jump to Topic
          </div>
        </div>
      </button>
    <% end %>
  </div>
<% end %>
