

<% if manager_logged_in? %>
  <% report_group = Reportgroup.find_by(id:params[:id]) %>
  <% group = report_group.group %>
  <div class="thread_page_num"style="display:none"id="<%= @thread_page_num.to_i %>"></div>
  <div class="search_result thread_page">
    <div class="panel-title" style="display:inline-block;margin-bottom:0px;margin-top:10px">
      <div class="panel-title-text">
        通報された投稿
      </div>
    </div>
    <div class="thread_all thread_all_post"style="padding-top:10px;">
      <div class="thread_cover_cover"style="border: solid thin #999;border-radius: 5px!important;">
        <%= render partial:"/groups/group", locals: { group:group,type:"normal" } %>
      </div>
    </div>
    <div class="panel-title" style="display:inline-block;margin-bottom:0px;margin-top:10px">
      <div class="panel-title-text">
        通報した人
      </div>
    </div>
    <div class="thread_all thread_all_post">
      <% there_be = false %>
      <div class="user_id"id="<%= current_user.id %>"></div>
    </div>
    <div class="panel-title" style="display:inline-block;margin-bottom:0px;margin-top:10px">
      <div class="panel-title-text">
        通報した理由：
      </div>
      <div style="color:#555">
        <% if report_group.reporttype == "1" %>
          　乗っ取られたアカウント / Hacked Account
        <% elsif report_group.reporttype == "2" %>
          　偽のアカウント / False Account
        <% elsif report_group.reporttype == "3" %>
          　その他 / Other
        <% elsif report_group.reporttype == "4" %>
          　不適切な投稿 / Sensitive Content
        <% end %>
      </div>
      具体的な内容 / Specific Content
      <div style="color:#555">
        <% if report_group.content == nil %>
          　なし / Nothing
        <% else %>
          　<%= simple_format(text_url_to_link(h(report_group.content))) %>
        <% end %>
      </div>
    </div>
    <br><br>
    <%= form_tag({controller: :manager, action: :thread_delete}, { method: :post, style:"display: inline-block"})  do  %>
      <%= hidden_field_tag :id,params[:id].to_i %>
      <%= hidden_field_tag :url,"search_report_group" %>
      <button type="submit" name="button" class="btn mes_button normal_button" id="3">
        <div class="text_box">
          <div class="jp">
            消去
          </div>
          <div class="en">
            Delete
          </div>
        </div>
      </button>
    <% end %>
    <%= link_to "/thread/show/"+group.to_s+"/" do %>
      <button type="submit" name="button" class="btn mes_button normal_button" id="3">
        <div class="text_box">
          <div class="jp">
            スレッドへ飛ぶ
          </div>
          <div class="en">
            Jump to Thread
          </div>
        </div>
      </button>
    <% end %>
  </div>
<% end %>
<br>
