
<% if manager_logged_in? %>
  <% lang = session["lang"] %>
  <% session["now_group"] = params[:id] %>
  <% report_user = ReportUser.find_by(id:params[:id]) %>
  <% user = report_user.user %>
  <% from_user = User.find_by(id:report_user.from_user) %>

  <div class="search_result"style="margin-top:50px">
    <div class="panel-title" style="display:inline-block;margin-bottom:0px;margin-top:10px">
      <div class="panel-title-text">
        通報された人
      </div>
    </div>
    <div class="thread_all thread_all_post">
      <%= render user %>
    </div>
    <div class="panel-title" style="display:inline-block;margin-bottom:0px;margin-top:10px">
      <div class="panel-title-text">
        通報した人
      </div>
    </div>
    <div class="thread_all thread_all_post">
      <%= render from_user %>
    </div>
    <div class="panel-title" style="display:inline-block;margin-bottom:0px;margin-top:10px">
      <div class="panel-title-text">
        通報した理由：
      </div>
      <div style="color:#555">
        <% if report_user.reporttype == "1" %>
          　乗っ取られたアカウント / Hacked Account
        <% elsif report_user.reporttype == "2" %>
          　偽のアカウント / False Account
        <% elsif report_user.reporttype == "3" %>
          　その他 / Other
        <% elsif report_user.reporttype == "4" %>
          　不適切な投稿 / Sensitive Content
        <% end %>
      </div>
      具体的な内容 / Specific Content
      <div style="color:#555">
        <% if report_user.content == nil %>
          　なし / Nothing
        <% else %>
          　<%= simple_format(text_url_to_link(h(report_user.content))) %>
        <% end %>
      </div>
    </div>
    <br><br>
    <%= link_to "/manager/user_office/"+params[:id] do %>
      <button type="submit" name="button" type="button" class="btn mes_button normal_button" id="3">
        <div class="text_box">
          <div class="jp">
            お知らせを送る
          </div>
          <div class="en">
            Send a notice
          </div>
        </div>
      </button>
    <% end %>
    <% if user.usertype != "delete" %>
      <%= form_tag({controller: :manager, action: :user_change}, { method: :post})  do  %>
        <%= hidden_field_tag :id,params[:id].to_i %>
        <%= hidden_field_tag :type,"delete" %>
        <button type="submit" name="button" type="button" class="btn mes_button normal_button" id="3">
          <div class="text_box">
            <div class="jp">
              消去する
            </div>
            <div class="en">
              Delete
            </div>
          </div>
        </button>
      <% end %>
    <% end %>
  </div>
<% end %>
<br>
