

<% if manager_logged_in? %>

  <% report_post = Reportpost.find_by(id:params[:id]) %>
  <% post = report_post.post %>
  <% from_user = User.find_by(id:report_post.from_user) %>
  <% thread = post.group %>
  <div class="thread_page_num"style="display:none"id="<%= @thread_page_num.to_i %>"></div>
  <div class="search_result thread_page">
    <div class="panel-title" style="display:inline-block;margin-bottom:0px;margin-top:10px">
      <div class="panel-title-text">
        通報された投稿
      </div>
    </div>
    <div class="thread_all thread_all_post"style="padding-top:10px;">
      <div class="thread_cover_cover">
        <%= render post %>
      </div>
    </div>
    <div class="panel-title" style="display:inline-block;margin-bottom:0px;margin-top:10px">
      <div class="panel-title-text">
        通報した人
      </div>
    </div>
    <div class="thread_all thread_all_post">
      <% there_be = false %>
      <div class="user_id"id="<%= current_user.id %>"></div>
      <%= link_to("/other_profile/#{from_user.id}" , class:"thread_link") do %>
        <% there_be = true %>
        <div class="thread_cover">
          <div class="group_user_cover">
            <div class="group_img_cover">
              <object>
              <%= link_to "/other_profile/#{from_user.id}" do %>
                <% if from_user.image == 0 %>
                  <% if from_user.photo.nil? %>
                    <%= image_tag("/userimage/user1.png", :class => "group_img") %>
                  <% else %>
                    <%= image_tag show_image_user_path(from_user), :class => "group_img" %>
                  <% end %>
                <% else %>
                  <%= image_tag("/userimage/user#{from_user.image}.png", :class => "group_img") %>
                <% end %>
              <% end %>
              </object>
            </div>
          </div>
          <div class="thread_content">
            <div class="post_content_cover">
              <div class="user_name"style="display:block">
                <object>
                <% if !logged_in? || current_user.id != from_user.id %>
                  <%= link_to "/other_profile/#{from_user.id}" do %>
                    <%= simple_format(text_url_to_link(h(from_user.name))) %>
                  <% end %>
                <% else %>
                  <%= link_to "/profile" do %>
                    <%= simple_format(text_url_to_link(h(from_user.name))) %>
                  <% end %>
                <% end %>
                </object>
              </div>
              <div class="post_content_position en_position">
                <div class="thread_title">
                  <div class="title_padding no_inline">
                    <%= simple_format(text_url_to_link(h(from_user.email))) %>
                  </div>
                </div>
                <div class="post_content en">
                  <div class="post_content_text no_inline">
                    <%= simple_format(text_url_to_link(h(from_user.profile_en))) %>
                  </div>
                </div>
              </div>
              <div class="post_content_position_space">
                <span class="slider_icon glyphicon glyphicon-resize-horizontal"></span>
              </div>
              <div class="post_content_position jp_position">
                <div class="thread_title">
                  <div class="title_padding no_inline">
                    <%= simple_format(text_url_to_link(h(from_user.email))) %>
                  </div>
                </div>
                <div class="post_content en">
                  <div class="post_content_text no_inline">
                    <%= simple_format(text_url_to_link(h(from_user.profile_jp))) %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%= form_tag({controller: :manager, action: :post_delete}, { method: :post})  do  %>
      <%= hidden_field_tag :id,params[:id].to_i %>
      <button type="submit" name="button" type="button" class="btn mes_button normal_button" id="3">
        <div class="text_box">
          <div class="jp">
            消去
          </div>
          <div class="en">
            Delete
          </div>
        </div>
      </button>
    <% end %>
    <% link_id = (post.id_ingroup - 1) / 10 + 1 %>
    <% if link_id < 1 %>
      <% link_id = 1 %>
    <% end %>
    <%= link_to "/thread/show/"+thread.id.to_s+"/"+link_id.to_s do %>
      <button type="submit" name="button" type="button" class="btn mes_button normal_button" id="3">
        <div class="text_box">
          <div class="jp">
            スレッドへ飛ぶ
          </div>
          <div class="en">
            Jump to Thread
          </div>
        </div>
      </button>
    <% end %>
  </div>
<% end %>
