
<% if manager_logged_in? %>
  <% lang = session["lang"] %>
  <% session["now_group"] = params[:id] %>
  <% user = User.find(params[:id]) %>

  <div class="search_result"style="margin-top:50px">
    <div class="thread_all thread_all_post">
      <% there_be = false %>
      <%= render user %>
    </div>
    <% if user.usertype != "normal" %>
      <%= form_tag({controller: :manager, action: :user_change}, { method: :post})  do  %>
        <%= hidden_field_tag :id,params[:id].to_i %>
        <%= hidden_field_tag :type,"normal" %>
        <button type="submit" name="button" type="button" class="btn mes_button normal_button" id="3">
          <div class="text_box">
            <div class="jp">
              一般ユーザーにする
            </div>
            <div class="en">
              Make him normal
            </div>
          </div>
        </button>
      <% end %>
    <% end %>
    <% if user.usertype != "manager" %>
      <%= form_tag({controller: :manager, action: :user_change}, { method: :post})  do  %>
        <%= hidden_field_tag :id,params[:id].to_i %>
        <%= hidden_field_tag :type,"manager" %>
        <button type="submit" name="button" type="button" class="btn mes_button normal_button" id="3">
          <div class="text_box">
            <div class="jp">
              管理者にする
            </div>
            <div class="en">
              Make him manager
            </div>
          </div>
        </button>
      <% end %>
    <% end %>

    <% if user.usertype != "event" %>
      <%= form_tag({controller: :manager, action: :user_change}, { method: :post})  do  %>
        <%= hidden_field_tag :id,params[:id].to_i %>
        <%= hidden_field_tag :type,"event" %>
        <button type="submit" name="button" type="button" class="btn mes_button normal_button" id="3">
          <div class="text_box">
            <div class="jp">
              イベントユーザーにする
            </div>
            <div class="en">
              Make him Event user
            </div>
          </div>
        </button>
      <% end %>
    <% end %>
    <%= link_to "/manager/user_office/"+params[:id] do %>
      <button type="submit" name="button" type="button" class="btn mes_button normal_button" id="3">
        <div class="text_box">
          <div class="jp">
            お知らせを送る
          </div>
          <div class="en">
            Send a notice
          </div>
        </div>
      </button>
    <% end %>
    <% if user.usertype != "delete" %>
      <%= form_tag({controller: :manager, action: :user_change}, { method: :post})  do  %>
        <%= hidden_field_tag :id,params[:id].to_i %>
        <%= hidden_field_tag :type,"delete" %>
        <button type="submit" name="button" type="button" class="btn mes_button normal_button" id="3">
          <div class="text_box">
            <div class="jp">
              消去する
            </div>
            <div class="en">
              Delete
            </div>
          </div>
        </button>
      <% end %>
    <% end %>
  </div>
<% end %>
