<%= form_tag(threadtype_new_path, method: :post) do %>
  <div class="row"style="margin-top:40px;">
    <div class="col-sm-6">
      <%= label_tag :英カテゴリー %>
      <%= text_area_tag :category_en ,'',rows:"20" ,class: "form-control" %>
    </div>
    <div class="col-sm-6">
      <%= label_tag :日カテゴリー %>
      <%= text_area_tag :category_jp ,'',rows:"20", class: "form-control" %>
    </div>
    <%= submit_tag "追加" ,class:"btn btn-default",style:"margin-top:10px;margin-left:calc(50% - 25px)"%>
  </div>
<% end %>
