<% lang = session["lang"] %>
<div class="category_list_all_cover pvpage_all">
  <div class="lang_bar_cover" data-toggle="tooltip" data-placement="bottom" data-original-title="説明">
    <div class="lang_bar">
      <div class="country_flag en_country">
        <%= image_tag "/eng.png", class: "image" %>
      </div>
      <input id="slider" data-slider-id='ex1Slider' type="text" data-slider-min="0"
          data-slider-max="1000" data-slider-step="1" data-slider-value="500"/>
      <div class="country_flag jp_country">
        <%= image_tag "/jap.png", class: "image" %>
      </div>
    </div>
  </div>
  <div class="category_head">
    <div class="panel-title">
      <div class="panel-title-text">
        <div class="float_jp">
          カテゴリ一覧
        </div>
        Category List
      </div>
    </div>
  </div>
  <div class="panel panel-default big_category_list all_category_list thread_all">
    <div class="panel-body category_content">
      <% @threadtypes.each do |type| %>
        <%= link_to "/category/typecategory/#{type.id}" do %>
          <div class="bigcategory_only">
            <div id="<%= type.id %>"class="category_title">
              <div class="cate_name">
                <div class="float_jp">
                  <%= type.type_jp %>
                </div>
                <%= type.type_en %>
              </div>
            </div>
          </div>
        <% end %>
        <% there_be = false %>
        <% type.groups.order(seen_num: "DESC").limit(3).each do |group| %>
          <%= link_to("/thread/show/#{group.id}" , class:"thread_link") do %>
            <% there_be = true %>
            <div class="thread_cover">
              <div class="group_user_cover">
                <div class="group_img_cover">
                  <object>
                  <%= link_to "/other_profile/#{group.user.id}" do %>
                    <% if group.user.image == 0 %>
                      <% if group.user.photo.nil? %>
                        <%= image_tag("/userimage/user1.png", :class => "group_img") %>
                      <% else %>
                        <%= image_tag show_image_user_path(group.user), :class => "group_img" %>
                      <% end %>
                    <% else %>
                      <%= image_tag("/userimage/user#{group.user.image}.png", :class => "group_img") %>
                    <% end %>

                  <% end %>

                  </object>
                </div>
              </div>
              <div class="thread_content">
                <div class="post_content_cover">
                  <div class="user_name">
                  <object>
                    <% if !logged_in? || current_user.id != group.user.id %>
                      <%= link_to "/other_profile/#{group.user.id}" do %>
                        <%= group.user.name %>
                      <% end %>
                    <% else %>
                      <%= link_to "/profile" do %>
                        <%= group.user.name %>
                      <% end %>
                    <% end %>
                    </object>
                  </div>
                  <div class="post_content_position en_position">
                    <div class="thread_title">
                      <div class="title_padding">
                        <%= group.title_en %>
                      </div>
                    </div>
                    <div class="post_content en">
                      <div class="post_content_text">
                        <% group.hashtags.each do |hash|%>
                          #<%= hash.hash_en %>　
                        <% end %>
                      </div>
                    </div>
                    <div class="see_more">
                      See more
                    </div>
                  </div>
                  <div class="post_content_position_space">
                    <span class="slider_icon glyphicon glyphicon-resize-horizontal"></span>
                  </div>
                  <div class="post_content_position jp_position">
                    <div class="thread_title">
                      <div class="title_padding">
                        <% require 'uri' %>
                        <%= URI.decode(group.title_jp) %>
                      </div>
                    </div>
                    <div class="post_content jp">
                      <div class="post_content_text">
                        <% group.hashtags.each do |hash|%>
                          #<%= hash.hash_jp %>　
                        <% end %>
                      </div>
                    </div>
                    <div class="see_more">
                      もっと見る
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        <% if there_be == false %>
          <div class="not_found">
            <div class="en">
              There is no thread created.
            </div>
            <div class="jp">
              まだスレッドが作成されていません。
            </div>
          </div>
        <% else %>
          <%= link_to "/category/typecategory/#{type.id}" do %>
            <div class="see_more_thread">
              See More / もっと見る
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
