
<% current_user_id = -1 %>
<% if logged_in? %>
  <% current_user_id = current_user.id %>
<% end %>
<div class="help_button">
  <ul class="nav flex-column">
    <li class="nav-item profile_contents_button blue-nav">
      <div class="menu_title">
        <div class="text_cover">
          <div class="jp">
            使い方説明
          </div>
          <div class="en">
            How To Use
          </div>
        </div>
      </div>
    </li>
    <%= link_to "/help" do %>
      <%= image_tag "/help_button.png" %>
    <% end %>
  </ul>
</div>
<div class="profile_menu_tab">
  <div class="get_user_id"id="<%= current_user_id %>"></div>
  <ul class="nav flex-column">
    <li class="nav-item profile_contents_button blue-nav">
      <div class="menu_title">
        <div class="text_cover">
          <div class="jp">
            トップページのメニュー
          </div>
          <div class="en">
            Top Page Menu
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item profile_contents_button blue-nav <% if params[:id] == nil || params[:id] == "1" %>active<% end %>">
      <%= link_to '/',class:"nav-link" do %>
        <%= image_tag "/icon2/popular.png",class:"icon_img" %>
        <div class="text_cover">
          <div class="jp">
            人気コミュニティ
          </div>
          <div class="en">
            Popular Community
          </div>
        </div>
        <div class="menu_right_button">
          <i class="fas fa-plus"></i>
        </div>
      <% end %>
    </li>
    <li class="nav-item profile_contents_button blue-nav <% if params[:id] == "2" %>active<% end %>">
      <%= link_to '/home/2',class:"nav-link" do %>
        <%= image_tag "/icon2/latest.png",class:"icon_img" %>
        <div class="text_cover">
          <div class="jp">
            最新コミュニティ
          </div>
          <div class="en">
            Latest Community
          </div>
        </div>
        <div class="menu_right_button">
          <i class="fas fa-plus"></i>
        </div>
      <% end %>
    </li>
    <li class="nav-item profile_contents_button blue-nav <% if params[:id] == "4" %>active<% end %>">
      <%= link_to '/threadtype/new',class:"nav-link" do %>
        <i class="fas fa-marker"></i>
        <div class="text_cover">
          <div class="jp">
            コミュニティを作る
          </div>
          <div class="en">
            Make Community
          </div>
        </div>
        <div class="menu_right_button">
          <i class="fas fa-plus"></i>
        </div>
      <% end %>
    </li>
  </ul>
</div>