<% lang = session["lang"] %>
<style>
  .ui-tooltip{background: #F2FBEF}
  .tooltip-title{
    background:#000;
  }
</style>
<div class="thread_page_num"style="display:none"id="<%= @thread_page_num.to_i %>">
</div>

<div class="pvpage_all">
  <div class="category_show"style="display:none">
    <%= form_tag('/search/header',method: :post,class: "search_form_top") do %>
      <%= text_field_tag :search_text ,"", class: "form-control form_input",placeholder:"Title Search / タイトル検索" %>
      <span class="input-group-btn">
        <% link_to "/" %>
        <button type="submit"class="btn btn-warning form_button">
          <span class="glyphicon glyphicon-search"></span>
          検索
        </button>
      </span>
    <% end %>
  </div>
  <div class="group_list">
    Community List / コミュニティ一覧
  </div>
  <div class="group_list_explain">
    <div class="explain_text"style="display:none">You can browse the contents without joining the community!</div>
    <div class="explain_text">Join the community and chat!</div>
    <div class="explain_text"style="display:none">コミュニティに参加してなくても、中身を閲覧することができます！</div>
    <div class="explain_text">コミュニティに参加してチャットしよう！</div>
  </div>
  <%= render partial:"/threadtype/threadtype", locals: { threadtype:Threadtype.where(type:"every").first } %>
  <div class="threadtype_cover">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item blue-nav active">
        <i class="fas fa-users"></i>
        <a class="nav-link pvpage_change1" id="popular-tab" data-toggle="tab" href="#popular" role="tab" aria-controls="popular" aria-selected="false">
          <div class="jp">
            人気コミュニティ
          </div>
          <div class="en">
            Popular Community
          </div>
        </a>
      </li>
      <li class="nav-item blue-nav">
        <i class="fas fa-users"></i>
        <a class="nav-link pvpage_change2" id="latest-tab" data-toggle="tab" href="#latest" role="tab" aria-controls="latest" aria-selected="false">
          <div class="jp">
            最新コミュニティ
          </div>
          <div class="en">
            Latest Community
          </div>
        </a>
      </li>
      <li class="nav-item blue-nav">
        <i class="fas fa-tags"></i>
        <a class="nav-link pvpage_change3" id="category-tab" data-toggle="tab" href="#category" role="tab" aria-controls="category" aria-selected="false">
          <div class="jp">
            コミュニティカテゴリ
          </div>
          <div class="en">
            Community Category
          </div>
        </a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane active" id="popular" role="tabpanel" aria-labelledby="popular-tab">
        <div class="thread_all thread_all_group">
          <% there_be = false %>

          <% if @latest_threadtypes != nil %>
            <% @popular_threadtypes.each do |threadtype| %>
              <% there_be = true %>
              <%= render partial:"/threadtype/threadtype", locals: { threadtype:threadtype } %>
            <% end %>
            <%= paginate @popular_threadtypes, outer_window: 3 %>
          <% end %>
          <% if there_be == false %>
            <div class="not_found">
              <div class="en">
                There is no community created.
              </div>
              <div class="jp">
                まだコミュニティが作成されていません。
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade" id="latest" role="tabpanel" aria-labelledby="latest-tab">
        <div class="thread_all thread_all_group">
          <% there_be = false %>
          <% if @latest_threadtypes != nil %>
            <% @latest_threadtypes.each do |threadtype| %>
              <% there_be = true %>
              <%= render partial:"/threadtype/threadtype", locals: { threadtype:threadtype } %>
            <% end %>
            <%= paginate @latest_threadtypes , outer_window: 3%>
          <% end %>
          <% if there_be == false %>
            <div class="not_found">
              <div class="en">
                There is no community created.
              </div>
              <div class="jp">
                まだコミュニティが作成されていません。
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade category_list" id="category" role="tabpanel" aria-labelledby="category-tab">
        <% there_be = false %>
        <% Category.all.each do |category| %>
          <% there_be = true %>
          <%= render partial:"/category/category", locals: { category:category } %>
        <% end %>
        <% if there_be == false %>
          <div class="not_found">
            <div class="en">
              There is no community created.
            </div>
            <div class="jp">
              まだコミュニティが作成されていません。
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="profile_modal">
  <div class="modal fade" id="join_modal" tabindex="-1">
  	<div class="modal-dialog"style="width:90vw">
  		<div class="modal-content">
  			<div class="modal-body">
          <div class="text_box">
            <div class="text_jp">
              フォローを解除してもよろしいですか？
            </div>
            <div class="text_en">
              Is it ok to unfollow him or her?
            </div>
          </div>
  			</div>
        <div class="modal-footer join_modal_footer">
          <button type="button" class="btn btn-primary unjoin_modal_submit join_modal_button">
            <div class="jp">
              実行
            </div>
            <div class="en">
              OK
            </div>
          </button>
          <button type="button" class="btn btn-default join_modal_button" data-dismiss="modal">
            <div class="jp">
              戻る
            </div>
            <div class="en">
              Back
            </div>
          </button>
        </div>
  		</div>
  	</div>
  </div>
</div>
<div class="profile_modal">
  <div class="modal fade" id="all_join_modal" tabindex="-1">
  	<div class="modal-dialog"style="width:90vw">
  		<div class="modal-content">
  			<div class="modal-body">
          <div class="text_box">
            <div class="text_jp">
              このコミュニティは全員が参加するコミュニティです。退出はできません。
            </div>
            <div class="text_en">
              This community let all members join itself. You cannot unjoin.
            </div>
          </div>
  			</div>
        <div class="modal-footer join_modal_footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <div class="jp">
              戻る
            </div>
            <div class="en">
              Back
            </div>
          </button>
        </div>
  		</div>
  	</div>
  </div>
</div>