<% lang = session["lang"] %>
<style>
  .ui-tooltip{background: #F2FBEF}
  .tooltip-title{
    background:#000;
  }
</style>
<div class="thread_page_num"style="display:none"id="<%= @thread_page_num.to_i %>">
</div>

<div class="pvpage_all">
  <div class="top_explain">
    <div class="en">
      FreFre is Forum with Japanese
      <span class="delete_message">
        (make friends,travel,culture,problems)
      </span>
    </div>
    <div class="jp">
      FreFreは
      <span class="delete_message">
        翻訳機能で
      </span>
      簡単に外国人と話せる掲示板です。
      <span class="delete_message">
        英語が苦手でもOK！
      </span>
    </div>
  </div>
  <div class="category_show">
    <%= form_tag('/search/header',method: :post,class: "search_form_top") do %>
      <%= text_field_tag :search_text ,"", class: "form-control form_input",placeholder:"Search / 検索" %>
      <span class="input-group-btn">
        <% link_to "/" %>
        <button type="submit"class="btn btn-warning form_button">
          <span class="glyphicon glyphicon-search"></span>
          検索
        </button>
      </span>
    <% end %>
  </div>

  <div class="category_cover">
    <div class="title">
      Category List　/　カテゴリー覧
      <div class="dropdown"style="display:none">
        <div class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="caret"></span>
        </div>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <div class="one_topic">
            <% Threadtype.all.offset(6).each do |type| %>
              <%= link_to "/category/show/"+type.id.to_s,class:"btn normal_button contract space category_link" do %>
                <%= type.type_jp %> / <%= type.type_en %>
              <% end %>
            <% end %>
          </div>
        </ul>
      </div>
    </div>
    <div>
      <% Threadtype.all.each do |type| %>
        <%= link_to "/category/show/"+type.id.to_s,class:"btn normal_button contract space category_link main" do %>
          <%= type.type_jp %> / <%= type.type_en %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="panel-title"style="display:inline-block">
    <%= link_to "thread_list/popular" do %>
      <div class="panel-title-text">
        Popular Threads
        <span class="float_jp">
          人気スレッド
        </span>
      </div>
    <% end %>
  </div>
  <div class="pvpage_head">
  </div>
  <div class="thread_all thread_all_group">
    <% there_be = false %>
    <% @groups.order(seen_num: "DESC").limit(3).each do |group| %>
      <% there_be = true %>
      <%= render partial:"/groups/group", locals: { group:group } %>
    <% end %>
    <% if there_be == false %>
      <div class="not_found">
        <div class="en">
          There is no thread created.
        </div>
        <div class="jp">
          まだスレッドが作成されていません。
        </div>
      </div>
    <% else %>
      <%= link_to "thread_list/popular" do %>
        <div class="see_more_thread">
          See More / もっと見る
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="panel-title"style="display:inline-block">
    <%= link_to "thread_list/new" do %>
      <div class="panel-title-text">
        Latest Threads
        <span class="float_jp">
          最新スレッド
        </span>
      </div>
    <% end %>
  </div>
  <div class="pvpage_head">
  </div>
  <div class="thread_all thread_all_group">
    <% there_be = false %>
    <% @groups.order("id DESC").limit(3).each do |group| %>
      <% there_be = true %>
      <%= render partial:"/groups/group", locals: { group:group } %>
    <% end %>
    <% if there_be == false %>
      <div class="not_found">
        <div class="en">
          There is no thread created.
        </div>
        <div class="jp">
          まだスレッドが作成されていません。
        </div>
      </div>
    <% else %>
      <%= link_to "thread_list/new" do %>
        <div class="see_more_thread">
          See More / もっと見る
        </div>
      <% end %>
    <% end %>
  </div>
</div>
