<div class="threadtype_cover"style="margin-top: 20px;">
  <div class="threadtype_threads">
    <ul class="nav nav-tabs title_nav" id="myTab" role="tablist">
      <li class="nav-item active green-nav width_max">
        <a class="nav-link profile_history_change2" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"style="width:100%">
          <i class="fas fa-comments"></i>
          <div class="text_cover">
            Keyword Search / キーワード検索
          </div>
        </a>
      </li>
    </ul>
    <div class="search_result"style="margin-top: 10px;">
      <div class="category_show">
        <%= form_tag('/search/header',method: :post,class: "search_form_top") do %>
          <%= text_field_tag :search_text ,@search_text, class: "form-control form_input",placeholder:"Search / 検索" %>
          <%= hidden_field_tag :type_id, params[:type] %>
          <%= hidden_field_tag :page_id, params[:page] %>
          <%= hidden_field_tag :navlink, params[:navlink] %>
          <span class="input-group-btn">
            <button type="submit"class="btn btn-warning form_button">
              <span class="glyphicon glyphicon-search"></span>
              検索
            </button>
          </span>
        <% end %>
      </div>
      <div class="thread_all thread_all_group"style="padding-top:10px;">
        <ul class="nav nav-tabs" id="myTab" role="tablist"style="display:none">
          <% if params[:id] == nil || params[:id] == "1" %>
            <li class="nav-item blue-nav active width_max">
              <i class="fas fa-users"></i>
              <a class="nav-link searche_change1" id="popular-tab" data-toggle="tab" href="#popular" role="tab" aria-controls="popular" aria-selected="false"style="width:calc(100% - 50px)">
                <div class="text_cover">
                  Popular Community / 人気コミュニティ
                </div>
              </a>
            </li>
          <% elsif params[:id] == "2" %>
            <li class="nav-item blue-nav active width_max">
              <i class="fas fa-users"></i>
              <a class="nav-link search_change2" id="latest-tab" data-toggle="tab" href="#latest" role="tab" aria-controls="latest" aria-selected="false"style="width:calc(100% - 50px)">
                <div class="text_cover">
                  Latest Community / 最新コミュニティ
                </div>
              </a>
            </li>
          <% elsif params[:id] == "3" %>
            <li class="nav-item blue-nav active width_max">
              <i class="fas fa-user"></i>
              <a class="nav-link search_change3" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="user" aria-selected="false"style="width:calc(100% - 50px)">
                <div class="text_cover">
                  User Search / ユーザー検索
                </div>
              </a>
            </li>
          <% end %>
        </ul>
        <% if params[:id] == nil || params[:id] == "1" %>
          <%= render partial:"popular" %>
        <% elsif params[:id] == "2" %>
          <%= render partial:"latest" %>
        <% elsif params[:id] == "3" %>
          <%= render partial:"user" %>
        <% end %>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane <% if params["navlink"] == nil || params["navlink"] == "" || params["navlink"] == "popular"%>active<% else %>fade<% end %>" id="popular" role="tabpanel" aria-labelledby="popular-tab">

          </div>
          <div class="tab-pane <% if params["navlink"] == "latest"%>active<% else %>fade<% end %>" id="latest" role="tabpanel" aria-labelledby="latest-tab">

          </div>
          <div class="tab-pane <% if params["navlink"] == "user"%>active<% else %>fade<% end %> category_list" id="user" role="tabpanel" aria-labelledby="user-tab">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>