<% search_text = "" %>
<% if session["search_text"].nil? == false && session["search_text"] != "" %>
  <% search_text = session["search_text"] %>
<% end %>

<div class="search_result">
  <div class="category_show">
    <%= form_tag('/search/header',method: :post,class: "search_form_top") do %>
      <%= text_field_tag :search_text ,search_text, class: "form-control form_input",placeholder:"Search / 検索" %>
      <span class="input-group-btn">
        <button type="submit"class="btn btn-warning form_button">
          <span class="glyphicon glyphicon-search"></span>
          検索
        </button>
      </span>
    <% end %>
  </div>
  <div class="pvpage_head">
  </div>

  <% if search_text != "" && 1 == 2%>
    [<%= search_text %>]の検索結果 / Search result fo [<%= search_text %>]
  <% end %>
  <div class="thread_all thread_all_group"style="padding-top:10px;">
    <% there_be = false %>
    <% search_groups = @groups %>
    <% if !search_text.nil? %>
      <% search_groups = @groups.where("title_jp LIKE ? OR title_en LIKE ? OR first_content_jp LIKE ? OR first_content_en LIKE ?", "%"+ search_text +"%", "%"+ search_text +"%", "%"+ search_text +"%", "%"+ search_text +"%") %>
    <% end %>
    <% show_max = 20.0 %>
    <% group_num = search_groups.count %>
    <% page_num = (group_num / show_max).ceil %>
    <% page_id = params[:page].to_i %>
    <% if page_id.nil? || page_id.to_i > page_num || page_id.to_i < 1 %>
      <% page_id = 1 %>
    <% end %>
    <% search_groups.order(seen_num: "DESC").offset(show_max*(page_id - 1)).limit(show_max).each do |group| %>
      <% there_be = true %>
      <%= render partial:"/groups/group", locals: { group:group,type:"normal" } %>
    <% end %>
    <% if there_be == false %>
      <div class="not_found">
        <div class="en">
          There are no search results fo "<%=search_text%>".
        </div>
        <div class="jp">
          「"<%=search_text%>"」の検索結果はありません。
        </div>
      </div>
    <% else %>
      <% start_num = 1 %>
      <% end_num = page_num %>
      <% if page_num > 5.0 %>
        <% if page_id - page_max_half < 0 %>
         <% end_num = 5.0 %>
        <% elsif page_id + page_max_half > page_num %>
         <% start_num = end_num - 5.0 + 1 %>
        <% else %>
         <% start_num = page_id - page_max_half + 2 %>
         <% end_num = start_num + 5.0 - 1 %>
        <% end %>
      <% end %>
      <div class="page_button_cover">
        <% if 1 >= page_id.round %>
          <div class="page_button no_push">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </div>
        <% else %>
          <%= link_to("/search/#{page_id - 1}",class:"page_button ok_push") do %>
            <span class="glyphicon glyphicon-chevron-left"></span>
          <% end %>
        <% end %>
        <% if start_num.round != 1 %>
          <div class="page_button dot_show">
            ...
          </div>
        <% end %>
        <% for num in start_num.round..end_num.round do %>
          <% if num == page_id %>
            <div class="page_button now_page">
              <%= num %>
            </div>
          <% else %>
            <%= link_to("/search/#{num}",class:"page_button page_move") do %>
              <%= num %>
            <% end %>
          <% end %>
        <% end %>
        <% if end_num.round != page_num.round %>
          <div class="page_button dot_show">
            ...
          </div>
        <% end %>
        <% if page_num.round <= page_id.round || page_num.round == 1 %>
          <div class="page_button no_push">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </div>
        <% else %>
          <%= link_to("/search/#{page_id.round + 1}",class:"page_button ok_push") do %>
            <span class="glyphicon glyphicon-chevron-right"></span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
