<% if logged_in? && @threadtype.leader_id == current_user.id %>
  <% leader = User.find_by(id:@threadtype.leader_id) %>
  <% current_user_id = current_user.id %>
  <div class="profile threadtype_page profile_manage">
    <div class="profile_sub"style="display:none">
      <% if @threadtype.type == "every" %>
        <div class="official_mark">
          Official / 公式
        </div>
      <% end %>
      <div class="profile_picture">
        <% if @threadtype.id == 22 %>
          <%= image_tag("group_icon/chat.png", :class => "group_img",:style => "border-radius:none") %>
        <% elsif @threadtype.id == 23 %>
          <%= image_tag("group_icon/question.png", :class => "group_img",:style => "border-radius:none") %>
        <% elsif @threadtype.id == 24 %>
          <%= image_tag("group_icon/flag1.png", :class => "group_img",:style => "border-radius:none") %>
        <% elsif @threadtype.pict.attached? %>
          <%= image_tag @threadtype.pict , :class => "group_img",:style => "border-radius:none"%>
        <% else %>
          <%= image_tag("group_icon/flag1.png", :class => "group_img",:style => "border-radius:none") %>
        <% end %>
      </div>
      <div class="profile_contents_change">
        <div class="get_user_id"id="<%= current_user_id %>"></div>
        <ul class="nav flex-column">
          <li class="nav-item profile_contents_button blue-nav <% if params[:id] == "14" %>active<% end %>">
            <%= link_to "/profile/14/" + @threadtype.id.to_s ,class:"nav-link" do %>
              <div class="jp">
                プロフィール
              </div>
              <div class="en">
                Profile
              </div>
            <% end %>
          </li>
          <li class="nav-item profile_contents_button blue-nav <% if params[:id].to_i >= 15 && params[:id].to_i <= 18%>active<% end %>">
            <%= link_to "/profile/15/" + @threadtype.id.to_s ,class:"nav-link" do %>
              <div class="jp">
                スレッド管理
              </div>
              <div class="en">
                Edit Thread
              </div>
            <% end %>
          </li>
          <li class="nav-item profile_contents_button blue-nav <% if params[:id].to_i == 19 %>active<% end %>">
            <%= link_to "/profile/19/" + @threadtype.id.to_s,class:"nav-link" do %>
              <div class="jp">
                メンバー管理
              </div>
              <div class="en">
                Edit Member
              </div>
            <% end %>
          </li>
          <li class="nav-item profile_contents_button blue-nav <% if params[:id].to_i == 21 %>active<% end %>">
            <%= link_to "/profile/21/" + @threadtype.id.to_s,class:"nav-link" do %>
              <div class="jp">
                お知らせ作成
              </div>
              <div class="en">
                Make News
              </div>
            <% end %>
          </li>
          <% if @threadtype.type != "every" %>
            <li class="nav-item profile_contents_button blue-nav <% if params[:type] == "4" %>active<% end %>">
              <%= link_to '/threadtype/show/'+ @threadtype.id.to_s + '/4',class:"nav-link" do %>
                <div class="jp">
                  コミュニティ削除
                </div>
                <div class="en">
                  Delete Community
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="profile_main">
      <% if params[:id] == "22" %>
        <%= render partial:"profile/threadtype_manage/edit_profile" %>
      <% end %>
    </div>
  </div>


  <div class="profile_modal">
    <div class="modal fade" id="explain_modal" tabindex="-1">
    	<div class="modal-dialog"style="width:90vw">
    		<div class="modal-content">
    			<div class="modal-body">
            <div class="post_content_cover explain"data-toggle="modal" data-target="exlain_modal">
              <div class="post_content_position width_max_text">
                <div class="post_content">
                  <div class="post_content_text no_inline">
                    <%= simple_format(text_url_to_link(h(@threadtype.content_en))) %>
                  </div>
                </div>
              </div>
              <div class="post_content_position width_max_text">
                <div class="post_content">
                  <div class="post_content_text no_inline">
                    <%= simple_format(text_url_to_link(h(@threadtype.content_jp))) %>
                  </div>
                </div>
              </div>
            </div>
    			</div>
          <div class="modal-footer follow_modal_footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Close / 閉じる
            </button>
          </div>
    		</div>
    	</div>
    </div>
  </div>
<% end %>
