<style>
  .group_img2{
    width:30px;
    height:30px;
    object-fit: cover;
    border-radius: 50%;
    border-bottom: none !important;
  }
</style>
<% if group != nil %>
  <%= link_to("/thread/show/#{group.id}" , class:"thread_link",style:"margin-bottom:10px;") do %>
    <% there_be = true %>
    <div class="thread_cover"style="padding-top:0px;border-radius:0px;margin-bottom:10px;">
      <div class="group_title_show"style="background:#f5f5f5;">
        <i class="fas fa-comment-dots" aria-hidden="true" style="font-size:18px;vertical-align: middle;margin-top:0px"></i>
        <div class="text_cover"style="display:inline-block;width: calc(100% - 120px);">
          <%= group.title_en %> / <%= group.title_jp %>
        </div>
        <% if (post = group.posts.first) != nil%>
          <div class="group_user_cover"style="font-weight:bold">
            <div class="group_img_cover">
              <% url = "/profile" %>
              <% if logged_in? && current_user.id != post.user.id %>
                <% url = "/other_profile/#{post.user.id}" %>
              <% end %>
              <% if post.user.id == 0 %>
                <%= image_tag("frefre_icon2.png", :class => "group_img2") %>
              <% else %>
                <object>
                  <%= link_to url do %>
                    <% if post.user.image == 0 %>
                      <% if post.user.avater.attached? %>
                        <%= image_tag post.user.avater , :class => "group_img2"%>
                      <% else %>
                        <% if post.user.photo.nil? %>
                          <%= image_tag("/userimage/user1.png", :class => "group_img2") %>
                        <% else %>
                          <%= image_tag show_image_user_path(post.user), :class => "group_img2" %>
                        <% end %>
                      <% end %>
                    <% else %>
                      <%= image_tag("/userimage/user#{post.user.image}.png", :class => "group_img2") %>
                    <% end %>
                  <% end %>
                </object>
              <% end %>
            </div>
          </div>
          <div class="username"style="font-weight:bold;display:inline-block">
            <%= post.user.name %>
          </div>
        <% end %>
        <% if 1 == 2 %>
          <div class="dropdown">
            <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span class="caret"></span>
            </div>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <% if params[:id].nil? %>
                <div class="one_topic report_button_set">
                  <button class="report_post_button none_button"id="<%= post.id %>"style="width:100%">
                    <div class="jp">この投稿を通報する。</div>
                    Report this post.
                  </button>
                </div>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
      <%= render partial: 'posts/post2' ,locals: { post:group.posts.first,type:"group_post"} %>
    </div>
  <% end %>
<% end %>
<% if 1 == 2 %>
  <div class="group_dropdown dropdown"style="display:none">
    <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="caret"></span>
    </div>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <div class="one_topic report_button_set">
        <button class="report_group_button none_button"id="<%= group.id %>"style="width:100%">
          <div class="jp">トピックを通報する。</div>
          Report this topic.
        </button>
      </div>
    </ul>
  </div>
<% end %>