<% lang = session["lang"] %>
<div class="groups">
  <% if group.smallcategory_id == params[:id].to_i %>
    <% link = '../../thread/show/'+group.id.to_s %>
    <div class="thread_cover">
      <%= link_to link,class:"thread_link" do %>
        <div class="thread_content">
          <div class="thread_title">
            <% if lang != "jap" %>
              <%= simple_format(text_url_to_link(h(group.title_en))) %>
            <% else %>
              <%= simple_format(text_url_to_link(h(group.title_jp))) %>
            <% end %>
          </div>
          <div class="group_user_cover">
            <% if group.user.image.url.nil? %>
              <%= image_tag("/user2.png", :class => "group_img") %>
            <% else %>
              <%= image_tag(group.user.image.url, :class => "group_img") %>
            <% end %>
            <p class="group_name">
              <%= simple_format(text_url_to_link(h(group.user.name))) %>
            </p>
          </div>
          <div class="post_content_cover">
            <div class="post_content">
              <div class="post_content_l">
                <% if lang != "jap" %>
                  <%= simple_format(text_url_to_link(h(group.first_content_en))) %>
                <% else %>
                  <%= simple_format(text_url_to_link(h(group.first_content_jp))) %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="move_thread">
            <% if lang != "jap" %>
              Move to This Thread
            <% else %>
              このスレッドに移動
            <% end %>
            <span class="glyphicon glyphicon-chevron-right icon"></span>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
