<%= link_to("/thread/show/#{group.id}" , class:"thread_link") do %>
  <% there_be = true %>
  <div class="thread_cover">
    <div class="group_user_cover">
      <div class="group_img_cover">
        <object>
          <% url = "/profile" %>
          <% if logged_in? && current_user.id != group.user.id %>
            <% url = "/other_profile/#{group.user.id}" %>
          <% end %>
          <%= link_to url do %>
            <% if group.user.image == 0 %>
              <% if group.user.avater.attached? %>
                <%= image_tag group.user.avater , :class => "group_img"%>
              <% else %>
                <% if group.user.photo.nil? %>
                  <%= image_tag("/userimage/user1.png", :class => "group_img") %>
                <% else %>
                  <%= image_tag show_image_user_path(group.user), :class => "group_img" %>
                <% end %>
              <% end %>
            <% else %>
              <%= image_tag("/userimage/user#{group.user.image}.png", :class => "group_img") %>
            <% end %>
          <% end %>
        </object>
      </div>
    </div>
    <div class="thread_content">
      <div class="post_content_cover">
        <div class="user_name">
          <object>
            <% if logged_in? && current_user.id != group.user.id %>
              <%= link_to "/other_profile/#{group.user.id}" do %>
                <%= simple_format(text_url_to_link(h(group.user.name))) %>
              <% end %>
            <% else %>
              <%= link_to "/profile" do %>
                <%= simple_format(text_url_to_link(h(group.user.name))) %>
              <% end %>
            <% end %>
            <div class="create_time"style="float:right">
              <% replys = group.posts.count - 1 %>
              <% time_show = (time_ago_in_words(group.created_at)).sub(/about/, '') %>
              <% if time_show == "less than minit" %>
                <% time_show = "0 minute" %>
              <% end %>
              <span <% if replys == 0 %>style="color:#b3424a"<% end %>><%= replys %> reply</span><%= time_show %>
            </div>
          </object>
        </div>
        <div class="post_content_position en_position">
          <div class="thread_title">
            <div class="title_padding no_inline">
              <%= simple_format(text_url_to_link(h(group.title_en))) %>
            </div>
          </div>
          <div class="post_content en">
            <div class="post_content_text no_inline">
              <%= simple_format(text_url_to_link(h(group.first_content_en))) %>
            </div>
          </div>
          <div class="see_more">
            See more
          </div>
        </div>
        <div class="post_content_position_space">
          <span class="slider_icon glyphicon glyphicon-resize-horizontal"></span>
        </div>
        <div class="post_content_position jp_position">
          <div class="thread_title">
            <div class="title_padding no_inline">
              <% require 'uri' %>
              <%= simple_format(text_url_to_link(h(group.title_jp))) %>
            </div>
          </div>
          <div class="post_content jp">
            <div class="post_content_text no_inline">
              <%= simple_format(text_url_to_link(h(group.first_content_jp))) %>
            </div>
          </div>
          <div class="see_more">
            もっと見る
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
