<%= link_to("/other_profile/#{user.id}" , class:"thread_link") do %>
  <% there_be = true %>
  <div class="thread_cover">
    <div class="group_user_cover">
      <div class="group_img_cover">
        <object>

        <% url = "/profile" %>
        <% if logged_in? && current_user.id != user.id %>
          <% url = "/other_profile/#{user.id}" %>
        <% end %>
        <%= link_to url do %>
          <% if user.image == 0 %>
            <% if user.avater.attached? %>
              <%= image_tag user.avater , :class => "group_img"%>
            <% else %>
              <% if user.photo.nil? %>
                <%= image_tag("/userimage/user1.png", :class => "group_img") %>
              <% else %>
                <%= image_tag show_image_user_path(user), :class => "group_img" %>
              <% end %>
            <% end %>
          <% else %>
            <%= image_tag("/userimage/user#{user.image}.png", :class => "group_img") %>
          <% end %>
        <% end %>
        </object>
      </div>
    </div>
    <div class="thread_content">
      <div class="post_content_cover">
        <div class="user_name"style="display:block">
          <object>
          <% if !logged_in? || current_user.id != user.id %>
            <%= link_to "/other_profile/#{user.id}" do %>
              <%= simple_format(text_url_to_link(h(user.name))) %>
            <% end %>
          <% else %>
            <%= link_to "/profile" do %>
              <%= simple_format(text_url_to_link(h(user.name))) %>
            <% end %>
          <% end %>
          </object>
        </div>
        <div class="post_content_position en_position">
          <div class="thread_title">
            <div class="title_padding no_inline">
              <%= simple_format(text_url_to_link(h(user.email))) %>
            </div>
          </div>
          <div class="post_content en">
            <div class="post_content_text no_inline">
              <%= simple_format(text_url_to_link(h(user.profile_en))) %>
            </div>
          </div>
        </div>
        <div class="post_content_position_space">
          <span class="slider_icon glyphicon glyphicon-resize-horizontal"></span>
        </div>
        <div class="post_content_position jp_position">
          <div class="thread_title">
            <div class="title_padding no_inline">
              <%= simple_format(text_url_to_link(h(user.email))) %>
            </div>
          </div>
          <div class="post_content en">
            <div class="post_content_text no_inline">
              <%= simple_format(text_url_to_link(h(user.profile_jp))) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
