<div class="sign_page_cover">
  <div class="login_page">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="title">
          <div class="float_jp">
            会員登録
          </div>
          <div class="base_en">
            Sign Up
          </div>
        </div>
        <% if !flash["failed_en"].nil? || !flash["failed_en"].nil? %>
          <div class="alert alert-danger alert-message" role="alert">
            <div class="error_jp">
              <%= flash["failed_jp"] %>
            </div>
            <div class="error_en">
              <%= flash["failed_en"] %>
            </div>
          </div>
          <% flash["failed_en"] = nil %>
          <% flash["failed_jp"] = nil %>
        <% end %>
        <%= form_for @user, url: "/users" do |f| %>
          <div class="input-groups">
            <div class="input_title">
              <div class="float_jp">
                メールアドレス
              </div>
              Mail Address
            </div>
            <div class="">
              <%= f.text_field :email, class: "form-control input_form" %>
            </div>
          </div>
          <div class="input-groups">
            <div class="input_title">
              <div class="float_jp">
                ユーザーネーム
              </div>
              User Name
            </div>
            <div class="">
              <%= f.text_field :name, class: 'form-control' %>
            </div>
          </div>
          <div class="input-groups">
            <div class="input_title">
              <div class="float_jp">
                パスワード
              </div>
              <div class="base_en">
                Password
              </div>
            </div>
            <div class="">
              <%= f.password_field :password, class: "form-control input_form" %>
            </div>
          </div>
          <div class="check_words_cover">
            <div class="check_title">
              For username and password<br>
              ユーザーネームとパスワードについて
            </div>
            <div class="check_words">
              ・6～32characters　 ・6～32文字
            </div>
            <div class="check_words">
              ・Alphanumeric ・半角英数字
            </div>
            <div class="check_words">
              ・”-”and”_”only 　・”-”と”_”のみ
            </div>
            <div class="check_words">
              ・Case-sensitive・大文字と小文字を区別
            </div>
          </div>
          <div class="input-groups">
            <div class="input_title">
              <div class="float_jp">
                パスワード確認
              </div>
              <div class="base_en">
                Password Confirmation
              </div>
            </div>
            <div class="">
              <%= f.password_field :password_confirmation, class: "form-control input_form" %>
            </div>
          </div>
          <div class="input-groups">
            <%= f.check_box :agreement_term, class: "checkbox_input" %>
            <div class="input_title term_check">
              <div class="float_jp">
                利用規約に同意する
              </div>
              <div class="base_en">
                Agree our Terms of service
              </div>
            </div>
          </div>
          <div class="box_srcollbar">
            <%= render partial: "/policy/term" %>
          </div>

          <div class="input-groups">
            <%= f.check_box :agreement_policy, class: "checkbox_input" %>
            <div class="input_title term_check">
              <div class="float_jp">
                プライバシーポリシーに同意する
              </div>
              <div class="base_en">
                Agree our Privacy Policy
              </div>
            </div>
          </div>
          <div class="box_srcollbar">
            <%= render partial: "/policy/policy" %>
          </div>

          <div class="submit_button_cover">
            <button type="submit"class="submit_button btn btn-default">
              <div class="float_jp">
                サインイン
              </div>
              <div class="base_en">
                Sign Up
              </div>
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
