<div class="post_content_cover threadtype_title_show">
  <div class="post_content_position width_max">
    <div class="thread_title">
      <div class="title_padding no_inline"style="font-size: 20px!important;">
        Community Edit Page / コミュニティ管理画面
      </div>
    </div>
  </div>
</div>
<div class="threadtype_cover">

  <div class="thread_cover threadtype_cover">
    <div class="post_content_cover threadtype_title_show">
      <div class="post_content_position width_max">
        <div class="thread_title">
          <div class="title_padding no_inline"style="font-size: 20px!important;padding:0px;">
            <%= @threadtype.type_en %> / <%= @threadtype.type_jp %>
          </div>
        </div>
      </div>
    </div>
    <% there_be = true %>
    <% leader = User.find_by(id:@threadtype.leader_id) %>
    <div class="thread_content threadtype_content">
      <%= render partial:"threadtype/explain_table" %>
      <%= link_to('/threadtype/show/'+ @threadtype.id.to_s + '/5', type:"button", class:"login_join_button btn mes_button makethread_link",data: {toggle: "modal",target: "#profile_change_modal"},style:"margin-left:calc(50% - 56px);") do %>
        <div class="text_box">
          <div class="en">
            Edit / 編集
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="profile_change_modal profile">
    <div class="modal fade" id="profile_change_modal" tabindex="-1">
      <form>
        <div class="profile_title">
          <div class="title"style="display:none">
            <div class="jp">
              コミュニティ
            </div>
            Community
            <div class="save_button
            <% if current_user.usertype == "event" %>
              profile_cannot_save
            <% else %>
              profile_save_button
            <% end %>
              btn btn-default">
              Save / 保存
            </div>
          </div>
        </div>
        <div class="profile_page row">
          <div class="profile_page_en">
            <div class="col-sm-12">
              <div class="col-sm-12 profile_content">
                <div class="row profile_content_data">
                  <div class="content_name">
                    <div class="jp">
                      コミュニティの種類
                    </div>
                    <div class="en">
                      Type of Community
                    </div>
                  </div>
                  <div class="profile_content_cover">
                    <select id="gender"class="content_select">
                      <% if @threadtype.type == "puplic" %>
                        <option value="Public" selected>Public / 公開</option>
                      <% else %>
                        <option value="Public">Public / 公開</option>
                      <% end %>
                      <% if @threadtype.type == "private" %>
                        <option value="Private" selected>Private / 非公開</option>
                      <% else %>
                        <option value="Private">Private / 非公開</option>
                      <% end %>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 profile_content">
                <div class="row profile_content_data">
                  <div class="content_name">
                    <div class="sub_jp">
                      カテゴリー (1つだけ選択できます)
                    </div>
                    <div class="main_en">
                      Category (You can choose only 1)
                    </div>
                  </div>
                </div>
                <div class="profile_content_cover">
                  <% Category.all.each do |category| %>
                    <%= hidden_field_tag 'threadtype[id][]' %>
                    <div class="checkbox_cover">
                      <%= radio_button_tag :type, category.id,checked: @threadtype.category_id == category.id %> <%= category.type_en %> / <%= category.type_jp %>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="profile_content intro_content">
                <div class="intro">
                  <div class="row profile_content_data self_introduction">
                    <div class="content_name">
                      <div class="jp">
                        タイトル(英語)
                      </div>
                      <div class="en">
                        Title
                        (English)
                      </div>
                    </div>
                    <textarea id="profile_en"placeholder="Blank"class="form-control content_input textarea"rows="3"><%=@threadtype.type_en%></textarea>
                  </div>
                </div>
                <div class="space_form prof_trans">
                  <div class="trans_cover">
                    <button type="button" class="normal_button post_button btn words_post_button"id="trans_to_en"
                    name="<% if logged_in? %>logined<% end %>">
                      <div class="glyphicon glyphicon-arrow-left picture_send"></div>
                      <div class="button_text button_text_jp">
                        翻訳
                      </div>
                    </button>
                  </div>
                  <div class="trans_cover">
                    <button type="button" class="normal_button post_button btn words_post_button"id="trans_to_jp"
                    name="<% if logged_in? %>logined<% end %>">
                      <div class="glyphicon glyphicon-arrow-right picture_send"></div>
                      <div class="button_text button_text_en">
                        Trans
                      </div>
                    </button>
                  </div>
                </div>
                <div class="intro">
                  <div class="row profile_content_data self_introduction">
                    <div class=" content_name">
                      <div class="jp">
                        タイトル(日本語)
                      </div>
                      <div class="en">
                        Title
                        (Japanese)
                      </div>
                    </div>
                    <textarea id="profile_jp"placeholder="入力されていません"class="form-control content_input textarea"rows="3"><%=@threadtype.type_jp%></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="profile_words">
            <button type="button"class="btn help_show"data-toggle="modal" data-target="#help_slide"style="display:none">
              <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
              <div class="en help_text">
                Usage
              </div>
              <div class="jp help_text">
                使い方
              </div>
            </button>
            <div class="profile_content intro_content">
              <div class="intro">
                <div class="row profile_content_data self_introduction">
                  <div class="content_name">
                    <div class="jp">
                      コミュニティ紹介(英語)
                    </div>
                    <div class="en">
                      Introduction
                      (English)
                    </div>
                  </div>
                  <textarea id="profile_en"placeholder="Blank"class="form-control content_input textarea"rows="5"><%=current_user.profile_en%></textarea>
                  <%= link_to "https://miraitranslate.com/",class:"mirai_logo left_logo" do %>
                    Powered by MT
                  <% end %>
                </div>
              </div>
              <div class="space_form prof_trans"style="margin-top: 65px;">
                <div class="trans_cover">
                  <button type="button" class="normal_button post_button btn words_post_button"id="trans_to_en"
                  name="<% if logged_in? %>logined<% end %>">
                    <div class="glyphicon glyphicon-arrow-left picture_send"></div>
                    <div class="button_text button_text_jp">
                      翻訳
                    </div>
                  </button>
                </div>
                <div class="trans_cover">
                  <button type="button" class="normal_button post_button btn words_post_button"id="trans_to_jp"
                  name="<% if logged_in? %>logined<% end %>">
                    <div class="glyphicon glyphicon-arrow-right picture_send"></div>
                    <div class="button_text button_text_en">
                      Trans
                    </div>
                  </button>
                </div>
              </div>
              <div class="intro">
                <div class="row profile_content_data self_introduction">
                  <div class=" content_name">
                    <div class="jp">
                      コミュニティ紹介(日本語)
                    </div>
                    <div class="en">
                      Introduction
                      (Japanese)
                    </div>
                  </div>
                  <textarea id="profile_jp"placeholder="入力されていません"class="form-control content_input textarea"rows="5"><%=current_user.profile_jp%></textarea>
                  <%= link_to "https://miraitranslate.com/",class:"mirai_logo right_logo" do %>
                    翻訳提供 未来翻訳
                  <% end %>
                </div>
              </div>
              <div class="save_button_bottom
              <% if current_user.usertype == "event" %>
                profile_cannot_save
              <% else %>
                profile_save_button
              <% end %>
                btn btn-default">
                Save / 保存
              </div>

              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close / 閉じる</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>