<% notice = chat.notice %>
<% current_user_id = -1 %>

<% if logged_in? %>
  <% current_user_id = current_user.id %>
<% end %>
<div class="thread_cover"id="<%= chat.id %>">
  <div class="group_user_cover">
    <div class="group_img_cover">
      <% url = "/profile" %>
      <% if logged_in? && current_user_id != chat.user.id %>
        <% url = "/other_profile/#{chat.user.id}" %>
      <% end %>
      <%= link_to url do %>
        <% if notice.users.first.id < 1 %>
          <%= image_tag "info.png", :class => "group_img" %>
        <% else %>
          <% if chat.user.image == 0 %>
            <% if chat.user.avater.attached? %>
              <%= image_tag chat.user.avater , :class => "group_img"%>
            <% else %>
              <% if chat.user.photo.nil? %>
                <%= image_tag("/userimage/user1.png", :class => "group_img") %>
              <% else %>
                <%= image_tag show_image_user_path(chat.user), :class => "group_img" %>
              <% end %>
            <% end %>
          <% else %>
            <%= image_tag("/userimage/user#{chat.user.image}.png", :class => "group_img") %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="thread_content">
    <div class="post_content_cover">
      <div class="user_name"><%= chat.id %>
        <% if notice.users.first.id < 1 %>
          <%= FreFre Office %>
        <% else %>
          <%= simple_format(text_url_to_link(h(chat.user.name))) %>
        <% end %>
        <div class="create_time"style="float:right">
          <%= chat.created_at.strftime('%Y/%m/%d') %>
        </div>
      </div>

      <% if chat.main_en != nil && chat.main_jp != nil && chat.main_en != "" && chat.main_jp != ""%>
        <div class="post_content_position en_position">
          <div class="en_content_row">
            <div class="post_content_text">
              <%= simple_format(text_url_to_link(h(chat.main_en))) %>
            </div>
          </div>
        </div>
        <div class="post_content_position_space">
          <span class="slider_icon glyphicon glyphicon-resize-horizontal"></span>
        </div>
        <div class="post_content_position jp_position">
          <div class="en_content_row">
            <div class="post_content_text">
              <%= simple_format(text_url_to_link(h(chat.main_jp))) %>
            </div>
          </div>
        </div>
      <% end %>
      <% if chat.pict.attached?%>
        <div class="post_image_cover zoom_modal_open"data-toggle="modala" data-target="#zoom_modala">
          <%= image_tag chat.pict , :class => "group_img"+chat.id.to_s%>
        </div>
      <% elsif chat.video.attached? %>
        <div class="post_image_cover zoom_modal_open"data-toggle="modala" data-target="#zoom_modala">
          <video id='my-video' class='video-js' controls preload='auto' width='1108' height='600'
           poster='<%= url_for(chat.video) %>' data-setup='{}'>
           <source src='<%= url_for(chat.video) %>' type='video/mp4'>
          </video>
          <% if chat.subtitle_en != nil && chat.subtitle_jp != nil && chat.subtitle_en != "" && chat.subtitle_jp != "" %>
           <div class="post_content_position post_subtitle_position en_position jimaku_post">
             <div class="en_content_row">
               <div class="post_content_text">
                 <%= simple_format(Rinku.auto_link(h(chat.subtitle_en))) %>
               </div>
             </div>
           </div>
           <div class="post_content_position_space">
             <span class="slider_icon glyphicon glyphicon-resize-horizontal"></span>
           </div>
           <div class="post_content_position post_subtitle_position jp_position jimaku_post">
             <div class="jp_content_row">
               <div class="post_content_text">
                 <%= simple_format(Rinku.auto_link(h(chat.subtitle_jp))) %>
               </div>
             </div>
           </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
