
<%= stylesheet_link_tag 'application', media: 'all' %>

There is a reply of your topic!

あなたの作ったトピックに返信がありました！

<div class="pvpage_all">
  <% @group_have.each do |group| %>
    <%= link_to("/thread/show/#{group.id}" , class:"thread_link") do %>
      <% there_be = true %>
      <div class="thread_cover">
        <div class="group_user_cover">
          <div class="group_img_cover">
            <object>
              <%= link_to "/profile" do %>
                <% if group.user.image == 0 %>
                  <% if group.user.avater.attached? %>
                    <%= image_tag group.user.avater , :class => "group_img"%>
                  <% else %>
                    <%= image_tag("/userimage/user1.png", :class => "group_img") %>
                  <% end %>
                <% else %>
                  <%= image_tag("/userimage/user#{group.user.image}.png", :class => "group_img") %>
                <% end %>
              <% end %>
            </object>
          </div>
        </div>
        <div class="thread_content">
          <div class="post_content_cover">
            <div class="user_name">
              <object>
                <%= link_to "/profile" do %>
                  <%= group.user.name %>
                <% end %>
                <div class="create_time"style="float:right">
                  <% replys = group.posts.count - 1 %>
                  <% time_show = (time_ago_in_words(group.created_at)).sub(/about/, '') %>
                  <% if time_show == "less than minit" %>
                    <% time_show = "0 minute" %>
                  <% end %>
                  <span <% if replys == 0 %>style="color:#b3424a"<% end %>><%= replys %> reply</span>　<%= time_show %>
                </div>
              </object>
            </div>
            <div class="post_content_position en_position">
              <div class="thread_title">
                <div class="title_padding no_inline">
                  <%= group.title_en %>
                </div>
              </div>
              <div class="post_content en">
                <div class="post_content_text no_inline">
                  <%= group.first_content_en %>
                </div>
              </div>
              <div class="see_more">
                See more
              </div>
            </div>
            <div class="post_content_position_space">
              <span class="slider_icon glyphicon glyphicon-resize-horizontal"></span>
            </div>
            <div class="post_content_position jp_position">
              <div class="thread_title">
                <div class="title_padding no_inline">
                  <% require 'uri' %>
                  <%= group.title_jp %>
                </div>
              </div>
              <div class="post_content jp">
                <div class="post_content_text no_inline">
                  <%= group.first_content_jp %>
                </div>
              </div>
              <div class="see_more">
                もっと見る
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>