<% other_user = User.find_by(id:1) %>
<% if User.find_by(id:params[:id].to_i) %>
  <% other_user = User.find_by(id:params[:id].to_i) %>
<% end %>
<% other_user_id = other_user.id %>

<% current_user_id = -1 %>
<% if logged_in? %>
  <% current_user_id = current_user.id %>
<% end %>
<div class="profile_menu_tab">
  <div class="get_user_id"id="<%= current_user_id %>"></div>
  <ul class="nav flex-column">
    <li class="nav-item profile_contents_button">
      <div class="follow_button<%= other_user_id %>">
        <% if logged_in? && current_user.followings.find_by(id: other_user_id) %>
          <%= button_tag type:"button",class:"nav-link btn mes_button normal_button fullwidth_button unfollow_button_submit",id:other_user_id do %>
            <span class="glyphicon glyphicon-star icon" aria-hidden="true"></span>
            <div class="text_box text_cover">
              <div class="jp">
                フォロー中
              </div>
              <div class="en">
                Following
              </div>
            </div>
          <% end %>
        <% else %>
          <%= button_tag type:"button",class:"nav-link btn mes_button normal_button fullwidth_button follow_button_submit",id:other_user_id do %>
            <span class="glyphicon glyphicon-star-empty icon" aria-hidden="true"></span>
            <div class="text_cover text_box">
              <div class="jp">
                フォローする
              </div>
              <div class="en">
                Follow
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </li>
    <li class="nav-item profile_contents_button">
      <% if logged_in? && a = current_user.notices.eager_load(:users).find_by(id: other_user_id) %>
        <%= link_to "/profile/5/#{a.id}",class:"nav-link" do %>
          <button class="btn mes_button normal_button green_button fullwidth_button">
            <div class="jp">
              チャットへ飛ぶ
            </div>
            <div class="en">
              Jump to Chat
            </div>
          </button>
        <% end %>
      <% else %>
        <%= link_to "/notice/new/#{params[:id]}",class:"nav-link" do %>
          <button class="btn mes_button normal_button green_button fullwidth_button">
            <span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span>
            <div class="text_box text_cover">
              <div class="jp">
                メッセージ
              </div>
              <div class="en">
                Message
              </div>
            </div>
          </button>
        <% end %>
      <% end %>
    </li>
    <li class="nav-item profile_contents_button">
      <%= button_tag type:"button",class:"nav-link btn mes_button normal_button fullwidth_button report_button",id:other_user_id do %>
        <span class="glyphicon glyphicon-exclamation-sign icon" aria-hidden="true"></span>
        <div class="text_box text_cover">
          <div class="jp">
            通報する
          </div>
          <div class="en">
            Report
          </div>
        </div>
      <% end %>
    </li>
  </ul>
</div>
