<% other_user = User.find_by(id:1) %>
<% if User.find_by(id:params[:id].to_i) %>
  <% other_user = User.find_by(id:params[:id].to_i) %>
<% end %>
<% other_user_id = other_user.id %>
<div class="other_profile profile">
  <div class="profile_main">
    <div class="lang_bar_cover" data-toggle="tooltip" data-placement="bottom" data-original-title="説明">
      <div class="lang_bar">
        <div class="country_flag en_country">
          <%= image_tag "/eng.png", class: "image" %>
        </div>
        <input id="slider" data-slider-id='ex1Slider' type="text" data-slider-min="0"
            data-slider-max="100" data-slider-step="1" data-slider-value="50"/>
        <div class="country_flag jp_country">
          <%= image_tag "jap.png", class: "image" %>
        </div>
      </div>
    </div>
    <div class="profile_page row">
      <%= render partial:"/profile/explain_table",locals: { user:other_user,change_button:false}  %>

      <ul class="nav nav-tabs nav-top" id="myTab" role="tablist">
        <li class="nav-item <% if params["navlink"] == nil || params["navlink"] == "popular"%> active <% end %>">
          <a class="nav-link profile_history_change3" id="popular-tab" data-toggle="tab" href="#popular" role="tab" aria-controls="popular" aria-selected="false">
            <i class="fas fa-users"></i>
            <div class="text_cover">
              <div class="jp">
                参加したコミュニティ
              </div>
              <div class="en">
                Join Community
              </div>
            </div>
          </a>
        </li>
        <li class="nav-item <% if params["navlink"] == "group"%> active <% end %>">
          <a class="nav-link profile_history_change4" id="latest-tab" data-toggle="tab" href="#group" role="tab" aria-controls="group" aria-selected="false">
            <i class="fas fa-users"></i>
            <div class="text_cover">
              <div class="jp">
                作成したコミュニティ
              </div>
              <div class="en">
                Made Community
              </div>
            </div>
          </a>
        </li>
        <li class="nav-item <% if params["navlink"] == "thread"%> active <% end %>">
          <a class="nav-link profile_history_change4" id="latest-tab" data-toggle="tab" href="#thread" role="tab" aria-controls="thread" aria-selected="false">
            <i class="fas fa-comments"></i>
            <div class="text_cover">
              <div class="jp">
                過去のトピック
              </div>
              <div class="en">
                Past Topic
              </div>
            </div>
          </a>
        </li>
        <li class="nav-item <% if params["navlink"] == "post"%> active <% end %>">
          <a class="nav-link profile_history_change4" id="latest-tab" data-toggle="tab" href="#post" role="tab" aria-controls="post" aria-selected="false">
            <i class="fas fa-comment-dots"></i>
            <div class="text_cover">
              <div class="jp">
                過去の投稿
              </div>
              <div class="en">
                Past Post
              </div>
            </div>
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane <% if params["navlink"] == nil || params["navlink"] == "popular"%>active<% else %>fade<% end %>" id="popular" role="tabpanel" aria-labelledby="popular-tab">
          <% there_be = false %>
          <% if @join_groups != nil %>
            <% @join_groups.each do |threadtype| %>
              <% there_be = true %>
              <%= render partial:"/threadtype/threadtype", locals: { threadtype:threadtype } %>
            <% end %>
          <% end %>
        </div>
        <div class="tab-pane <% if params["navlink"] == "group"%>active<% else %>fade<% end %>" id="group" role="tabpanel" aria-labelledby="group-tab">
          <% show_group_id = -1 %>
          <% there_be = false %>
          <% if @make_groups != nil %>
            <% @make_groups.each do |threadtype| %>
              <% there_be = true %>
              <%= render partial:"/threadtype/threadtype_edit", locals: { threadtype:threadtype,type:"made" } %>
            <% end %>
          <% end %>
        </div>
        <div class="tab-pane <% if params["navlink"] == "thread"%>active<% else %>fade<% end %>" id="thread" role="tabpanel" aria-labelledby="thread-tab">
          <% show_group_id = -1 %>
          <% there_be = false %>
          <% if @make_threads != nil %>
            <% @make_threads.each do |group| %>
              <% there_be = true %>
              <%= render partial:"/groups/group", locals: { group:group,type:"normal" } %>
            <% end %>
          <% end %>
        </div>
        <div class="tab-pane <% if params["navlink"] == "post"%>active<% else %>fade<% end %>" id="post" role="tabpanel" aria-labelledby="post-tab">
          <% show_group_id = -1 %>
          <% there_be = false %>
          <% if @make_posts != nil %>
            <% @make_posts.each do |post| %>
              <% there_be = true %>
              <%= render partial: 'posts/post' ,locals: { post:post,type:"normal"} %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="profile_modal">
  <div class="modal fade" id="follow_modal" tabindex="-1">
  	<div class="modal-dialog"style="width:90vw">
  		<div class="modal-content">
  			<div class="modal-body">
          <div class="text_box">
            <div class="text_jp">
              フォローを解除してもよろしいですか？
            </div>
            <div class="text_en">
              Is it ok to unfollow him or her?
            </div>
          </div>
  			</div>
        <div class="modal-footer follow_modal_footer">
          <button type="button" class="btn btn-primary unfollow_modal_submit follow_modal_button">
            <div class="jp">
              実行
            </div>
            <div class="en">
              OK
            </div>
          </button>
          <button type="button" class="btn btn-default follow_modal_button" data-dismiss="modal">
            <div class="jp">
              戻る
            </div>
            <div class="en">
              Back
            </div>
          </button>
        </div>
  		</div>
  	</div>
  </div>
</div>

<div class="profile_modal">
  <div class="modal fade" id="report_user_modal" tabindex="-1">
  	<div class="modal-dialog"style="width:90vw">
      <%= form_tag('/report/user',method: :post,class: "search_form_top") do %>
    		<div class="modal-content">
    			<div class="modal-body">
            <div class="title">
              通報の理由 / Report Reason
            </div>
            <%= radio_button_tag :type, 4 ,"checked"%>不適切な投稿 / Sensitive Content<br>
            <%= radio_button_tag :type, 1 %>乗っ取られたアカウント / Hacked Account<br>
            <%= radio_button_tag :type, 2 %>偽のアカウント / False Account<br>
            <%= radio_button_tag :type, 3 %>その他 / Other<br>
            <div class="title"style="margin-top:10px;margin-bottom:5px;">
              具体的な内容 / Specific Content
            </div>
            <%= text_area_tag :content, "",class: "base_en_form connect_btn content_post form-control" ,rows:"6" %>
    			</div>
          <div class="modal-footer follow_modal_footer">
            <%= hidden_field_tag :report_id,other_user_id, class: "form-control form_input" %>
            <button type="submit" class="btn btn-primary report_button_submit">
              <div class="jp">
                送信
              </div>
              <div class="en">
                Send
              </div>
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <div class="jp">
                戻る
              </div>
              <div class="en">
                Back
              </div>
            </button>
          </div>
    		</div>
      <% end %>
  	</div>
  </div>
</div>
