<% other_user = current_user %>
<% if User.find(params[:id].to_i) %>
  <% other_user = User.find(params[:id].to_i) %>
<% end %>
<% other_user_id = other_user.id %>
<div class="profile">
  <div class="profile_sub"style="display:inline-block">
    <div class="profile_picture">
      <% if other_user.image == 0 %>
        <% if other_user.photo.nil? %>
          <%= image_tag("/userimage/user1.png", :class => "group_img") %>
        <% else %>
          <%= image_tag show_image_user_path(other_user), :class => "group_img" %>
        <% end %>
      <% else %>
        <%= image_tag("/userimage/user#{other_user.image}.png", :class => "group_img") %>
      <% end %>
      <div class="name_show">
        <%= simple_format(text_url_to_link(h(other_user.name))) %>
      </div>
    </div>
    <% if logged_in? %>
      <div class="follow_button">
        <% if current_user.followings.find_by(id: other_user_id) %>
          <%= button_tag type:"button",class:"btn mes_button normal_button fullwidth_button unfollow_button_submit",id:other_user_id do %>
            <span class="glyphicon glyphicon-star icon" aria-hidden="true"></span>
            <div class="text_box">
              <div class="jp">
                フォロー中
              </div>
              <div class="en">
                Following
              </div>
            </div>
          <% end %>
        <% else %>
          <%= button_tag type:"button",class:"btn mes_button normal_button fullwidth_button follow_button_submit",id:other_user_id do %>
            <span class="glyphicon glyphicon-star-empty icon" aria-hidden="true"></span>
            <div class="text_box">
              <div class="jp">
                フォロー
              </div>
              <div class="en">
                Follow
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="direct_mes_button">
      <%= link_to "/notice/new/#{params[:id]}" do %>
        <button class="btn mes_button normal_button green_button">
          <div class="jp">
            ダイレクトメッセージ
          </div>
          <div class="en">
            Direct Message
          </div>
        </button>
      <% end %>
    </div>
  </div>
  <div class="profile_main">
    <div class="profile_title">
      <div class="title">
        <div class="jp">
          <%= simple_format(text_url_to_link(h(other_user.name))) %>のプロフィール
        </div>
        <%= simple_format(text_url_to_link(h(other_user.name))) %>'s profile
      </div>
    </div>
    <div class="profile_page row">
      <div class="profile_page_en">
        <div class="col-sm-12">
          <div class="col-sm-12 profile_content">
            <div class="row profile_content_data">
              <div class="content_name">
                <div class="jp">
                  ユーザーネーム
                </div>
                <div class="en">
                  Username
                </div>
              </div>
              <div class=""style="width:70%;">
                <input id="username"class="form_control content_input form-control" placeholder="Blank"disabled value="<%= other_user.name %>">
              </div>
            </div>
          </div>
          <div class="col-sm-12 profile_content">
            <div class="row profile_content_data">
              <div class="content_name">
                <div class="jp">
                  性別
                </div>
                <div class="en">
                  Gender
                </div>
              </div>
              <% if other_user.able_see %>
                <select id="gender"class="content_select"style="width:70%"disabled>
                  <option value="">No Selected</option>
                  <% if other_user.gender == "Male" %>
                    <option value="Male" selected>Male / 男性</option>
                  <% else %>
                    <option value="Male">Male / 男性</option>
                  <% end %>
                  <% if other_user.gender == "Female" %>
                    <option value="Female" selected>Female / 女性</option>
                  <% else %>
                    <option value="Female">Female / 女性</option>
                  <% end %>
                  <% if other_user.gender == "Neuter" %>
                    <option value="Neuter" selected>Neuter / 中性</option>
                  <% else %>
                    <option value="Neuter">Neuter / 中性</option>
                  <% end %>
                </select>
              <% else %>
                <input placeholder="Private / 非公開"class="form-control content_input"disabled id="country"name="country"style="width:70%;">
              <% end %>
            </div>
          </div>
          <div class="col-sm-12 profile_content">
            <div class="row profile_content_data">
              <div class="content_name">
                <div class="jp">
                  出身国
                </div>
                <div class="en">
                  Country
                </div>
              </div>
              <div class="">
                <% if other_user.able_see %>
                  <select value="<%= other_user.country %>"class="content_select"disabled id="country"name="country"style="width:70%;">
                    <option value="">No selected</option>
                  </select>
                  <script type="text/javascript">
                    $("#country option[value='<%= other_user.country %>']").prop("selected","selected");
                  </script>
                <% else %>
                  <input placeholder="Private / 非公開"class="form-control content_input"disabled id="country"name="country"style="width:70%;">
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="profile_content">
        <div class="col-sm-6"style="padding-left:0px">
          <div class="row profile_content_data self_introduction">
            <div class="content_name">
              <div class="jp">
                自己紹介(英語)
              </div>
              <div class="en">
                Self Introduction
                (English)
              </div>
            </div>
            <% if other_user.able_see %>
              <textarea id="profile_en"placeholder="Blank"class="form-control content_input textarea"rows="3"disabled><%=other_user.profile_en%></textarea>
            <% else %>
              <textarea id="profile_en"placeholder="非公開&#13;&#10;Private"class="form-control content_input textarea"rows="3"disabled></textarea>
            <% end %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row profile_content_data self_introduction">
            <div class=" content_name">
              <div class="jp">
                自己紹介(日本語)
              </div>
              <div class="en">
                Self Introduction
                (Japanese)
              </div>
            </div>
            <% if other_user.able_see %>
              <textarea id="profile_jp"placeholder="入力されていません"class="form-control content_input textarea"rows="3"disabled><%=other_user.profile_jp%></textarea>
            <% else %>
              <textarea id="profile_jp"placeholder="非公開&#13;&#10;Private"class="form-control content_input textarea"rows="3"disabled></textarea>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
