<% if post != nil %>
  <% if (group = post.group) != nil %>
    <% first_id = group.posts.first.id%>
    <% id = params[:id] %>
    <% current_user_id = -1 %>

    <% if current_user != nil %>
      <% current_user_id = current_user.id %>
    <% end %>

    <% if post.deleted %>
      <div class="thread_cover deleted_coment"style="padding:5px;">
        この投稿は削除されました。<br>
        <div class="en">
          This comment is deleted.
        </div>
      </div>
    <% elsif post.visible == true %>
      <div class="thread_cover without_border"id="<%= post.id %>"<% if type == "normal"%>style="background:#f5f5f5"<% end %>>
        <% if type != "in_group" %>
          <div class="group_user_cover">
            <div class="group_img_cover">

              <% url = "/profile" %>
              <% if logged_in? && current_user_id != post.user.id %>
                <% url = "/other_profile/#{post.user.id}" %>
              <% end %>
              <% if post.user.id == 0 %>
                <%= image_tag("frefre_icon2.png", :class => "group_img") %>
              <% else %>
                <object>
                  <%= link_to url do %>
                    <% if post.user.image == 0 %>
                      <% if post.user.avater.attached? %>
                        <%= image_tag post.user.avater , :class => "group_img"%>
                      <% else %>
                        <% if post.user.photo.nil? %>
                          <%= image_tag("/userimage/user1.png", :class => "group_img") %>
                        <% else %>
                          <%= image_tag show_image_user_path(post.user), :class => "group_img" %>
                        <% end %>
                      <% end %>
                    <% else %>
                      <%= image_tag("/userimage/user#{post.user.image}.png", :class => "group_img") %>
                    <% end %>
                  <% end %>
                </object>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="thread_content"<% if type == "in_group" %>style="width:100%"<% end %>>
          <div class="post_content_cover">
            <% if type != "in_group" %>
              <div class="user_name">
                <% if post.user.id == 0 %>
                  <object>
                    <%= simple_format(text_url_to_link(h(post.user.name))) %>
                  </object>
                <% elsif params[:id].nil? || !logged_in? || current_user_id != post.user.id %>
                  <object>
                    <%= link_to "/other_profile/#{post.user.id}" do %>
                      <%= simple_format(text_url_to_link(h(post.user.name))) %>
                    <% end %>
                  </object>
                <% else %>
                  <object>
                    <%= link_to "/profile" do %>
                      <%= simple_format(text_url_to_link(h(post.user.name))) %>
                    <% end %>
                  </object>
                <% end %>
                <% if params[:id].nil? || current_user_id != post.user.id || (type == "normal" && logged_in? && current_user_id == post.user.id)%>
                  <div class="dropdown">
                    <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      <div class="create_time">
                        <% time_show = (time_ago_in_words(group.created_at)).sub(/about/, '') %>
                        <% if time_show == "less than minit" %>
                          <% time_show = "0 minute" %>
                        <% end %>
                        <%= time_show%>
                      </div>
                      <span class="caret"></span>
                    </div>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <% if params[:id].nil? %>
                        <div class="one_topic delete_button_set">
                          <button type="button" class="delete_button" data-toggle="modal" data-target="#deleteModal"
                              data-whatever="<%= post.id %>">
                            <div class="jp">投稿を削除する</div>
                            Delete this comment
                          </button>
                        </div>
                        <div class="one_topic profile_button_set">
                          <object>
                            <%= link_to "/other_profile/#{post.user.id}" do %>
                              <div class="jp">プロフィールへ飛ぶ</div>
                              Jump to the profile.
                            <% end %>
                          </object>
                        </div>
                        <div class="one_topic report_button_set">
                          <button class="report_post_button none_button"id="<%= post.id %>"style="width:100%">
                            <div class="jp">この投稿を通報する。</div>
                            Report this post.
                          </button>
                        </div>
                      <% else %>
                        <% if current_user_id != post.user_id %>
                          <div class="one_topic">
                            <object>
                              <%= link_to "/other_profile/#{post.user.id}" do %>
                                <div class="jp">プロフィールへ飛ぶ</div>
                                Jump to the profile.
                              <% end %>
                            </object>
                          </div>
                          <% if logged_in? %>
                            <div class="one_topic">
                              <button class="report_post_button none_button"id="<%= post.id %>"style="width:100%">
                                <div class="jp">この投稿を通報する。</div>
                                Report this post.
                              </button>
                            </div>
                          <% end %>
                        <% end %>
                        <% if type == "normal" && logged_in? && current_user_id == post.user.id %>
                          <div class="one_topic">
                            <button type="button" class="delete_button" data-toggle="modal" data-target="#deleteModal"
                                data-whatever="<%= post.id %>">
                              <div class="jp">投稿を削除する</div>
                              Delete this comment
                            </button>
                          </div>
                        <% end %>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
              </div>
            <% end %>
            <% if post.content_eng != nil && post.content_jap != nil && post.content_eng != "" && post.content_jap != ""%>
              <div class="balloon">
                <div class="post_content_position en_position">
                  <% if type == "first" %>
                    <div class="thread_title">
                      <div class="title_padding no_inline">
                        <%= simple_format(text_url_to_link(h(post.group.title_en))) %>
                      </div>
                    </div>
                  <% else %>
                    <div class="title_space"></div>
                  <% end %>
                  <div class="post_content en_content_row">
                    <div class="post_content_text">
                      <%= simple_format(Rinku.auto_link(h(post.content_eng))) %>
                    </div>
                  </div>
                </div>
                <div class="post_content_position_space">
                  <span class="slider_icon glyphicon glyphicon-resize-horizontal"></span>
                </div>
                <div class="post_content_position jp_position">
                  <% if type == "first" %>
                    <div class="thread_title">
                      <div class="title_padding no_inline">
                        <%= simple_format(text_url_to_link(h(post.group.title_jp))) %>
                      </div>
                    </div>
                  <% else %>
                    <div class="title_space"></div>
                  <% end %>
                  <div class="post_content jp_content_row">
                    <div class="post_content_text">
                      <%= simple_format(Rinku.auto_link(h(post.content_jap))) %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <% if type != "in_group" %>
              <% if post.pict.attached?%>
                <div class="post_image_cover zoom_modal_open"data-toggle="modal" data-target="#zoom_modal">
                  <%= image_tag post.pict , :class => "group_img"+post.id.to_s%>
                </div>
              <% elsif post.video.attached? %>
                <div class="post_video_cover zoom_modal_open"data-toggle="modal" data-target="#zoom_modal">
                  <video id='my-video' class='video-js' controls preload='auto' width='1108' height='600'
                    poster='<%= url_for(post.video) %>' data-setup='{}'>
                    <source src='<%= url_for(post.video) %>' type='video/mp4'>
                  </video>
                  <% if post.subtitle_en != nil && post.subtitle_jp != nil && post.subtitle_en != "" && post.subtitle_jp != "" %>
                   <div class="post_content_position post_subtitle_position en_position jimaku_post">
                     <div class="post_content en_content_row">
                       <div class="post_content_text">
                         <%= simple_format(Rinku.auto_link(h(post.subtitle_en))) %>
                       </div>
                     </div>
                   </div>
                   <div class="post_content_position_space">
                     <span class="slider_icon glyphicon glyphicon-resize-horizontal"></span>
                   </div>
                   <div class="post_content_position post_subtitle_position jp_position jimaku_post">
                     <div class="post_content jp_content_row">
                       <div class="post_content_text">
                         <%= simple_format(Rinku.auto_link(h(post.subtitle_jp))) %>
                       </div>
                     </div>
                   </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>