
<% if a = Notice.find(params[:page1].to_i) %>
  <% notice = a %>
<% else %>
  <% notice = current_user.notices.first %>
<% end %>
<% from_user = notice.users.last %>
<% to_user = notice.users.first %>
<div class="profile_notice">
  <div class="lang_bar_cover" data-toggle="tooltip" data-placement="bottom" data-original-title="説明">
    <div class="lang_bar">
      <div class="country_flag en_country">
        <%= image_tag "/eng.png", class: "image" %>
      </div>
      <input id="slider" data-slider-id='ex1Slider' type="text" data-slider-min="0"
          data-slider-max="1000" data-slider-step="1" data-slider-value="500"/>
      <div class="country_flag jp_country">
        <%= image_tag "jap.png", class: "image" %>
      </div>
    </div>
  </div>
  <div class="notice_cover">
    <div class="panel-title"style="display:inline-block">
      <div class="panel-title-text">
        <div class="float_jp">
          <%= simple_format(text_url_to_link(h(from_user.name))) %>と
          <%= simple_format(text_url_to_link(h(to_user.name))) %>のチャット
        </div>
        <div class="float_en">
          Chat <%= simple_format(text_url_to_link(h(from_user.name))) %>
          with <%= simple_format(text_url_to_link(h(to_user.name))) %>
        </div>
      </div>
    </div>
    <% there_be = false %>
    <div class="chat_all">
      <%= render notice.chats.offset(@thread_page_num*(@page_id - 1)).limit(@thread_page_num) %>
    </div>
    <div class="page_button_cover">
      <% if 1 >= @page_id.round %>
        <div class="page_button no_push">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </div>
      <% else %>
        <%= link_to("/profile/#{params[:id]}/#{notice.id}/#{@page_id - 1}",class:"page_button ok_push") do %>
          <span class="glyphicon glyphicon-chevron-left"></span>
        <% end %>
      <% end %>
      <% if @start_num.round != 1 %>
        <div class="page_button dot_show">
          ...
        </div>
      <% end %>
      <% for num in @start_num.round..@end_num.round do %>
        <% if num == @page_id %>
          <div class="page_button now_page">
            <%= num %>
          </div>
        <% else %>
          <%= link_to("/profile/#{params[:id]}/#{notice.id}/#{num}",class:"page_button page_move") do %>
            <%= num %>
          <% end %>
        <% end %>
      <% end %>
      <% if @end_num.round != @page_num.round %>
        <div class="page_button dot_show">
          ...
        </div>
      <% end %>
      <% if @page_num.round <= @page_id.round || @page_num.round == 1 %>
        <div class="page_button no_push">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
      <% else %>
        <%= link_to("/profile/#{params[:id]}/#{notice.id}/#{@page_id.round + 1}",class:"page_button ok_push") do %>
          <span class="glyphicon glyphicon-chevron-right"></span>
        <% end %>
      <% end %>
    </div>
    <div class="footer thread_footer">
      <div class="thread_post_cover">
  			<div class="modal-body">
          <div class="thread_post">
            <div class="post_form_cover post_form_cover_enjp connect_btn">
              <%= image_tag "/eng.png", class: "image" %>
              <textarea name="content"class="base_en_form connect_btn content_post form-control" rows="6"
              placeholder="&#13;&#10;This side is English form.&#13;&#10;こちらは英語投稿欄です"></textarea>
            </div>
            <div class="space_form chat_send">
              <div class="trans_cover">
                <button type="button" class="normal_button post_button btn  btn_send words_post_button"id="trans_to_en"
                name="<% if logged_in? %>logined<% end %>">
                  <div class="glyphicon glyphicon-arrow-left picture_send"></div>
                  <div class="button_text">
                    翻訳
                  </div>
                </button>
              </div>
              <div class="trans_cover">
                <button type="button" class="normal_button post_button btn  btn_send words_post_button"id="trans_to_jp"
                name="<% if logged_in? %>logined<% end %>">
                  <div class="glyphicon glyphicon-arrow-right picture_send"></div>
                  <div class="button_text">
                    Trans
                  </div>
                </button>
              </div>
            </div>
            <div class="post_form_cover post_form_cover_enjp">
              <%= image_tag "jap.png", class: "image" %>
              <textarea name="content"class="base_jp_form content_post form-control" rows="6"
              placeholder="&#13;&#10;This side is Japanese form.&#13;&#10;こちらは日本語投稿欄です"></textarea>
            </div>
          </div>
  			</div>
        <div class="post_footer_simple">
          <div class="post_button_cover chat_send">
            <button type="button" class="post_button btn btn_send words_post_button"id="post"
            name="<% if logged_in? %>logined<% end %>">
              <div class="glyphicon glyphicon-comment picture_send"></div>
              <div class="button_text">
                <div class="float_jp">
                  投稿
                </div>
                Post
              </div>
            </button>
            <!---<button type="button" class="post_button btn btn_send words_post_button"id="trans"
            name="<% if logged_in? %>logined<% end %>">
              <div class="glyphicon glyphicon-comment picture_send"></div>
              <div class="button_text">
                <div class="float_jp">
                  翻訳
                </div>
                Translate
              </div>
            </button>-->
            <%#= form_for @chat, :html => {:class => "post_button_form"},remote: true do |f| %>
            <form class="chat_image_post post_button_form">
              <label for="file_send"class="post_button image_send_button btn btn-prmary image_post_button">
                <div class="glyphicon glyphicon-picture picture_send"></div>
                <div class="button_text">
                  <div class="float_jp">
                    画像
                  </div>
                  Image
                </div>
              </label>
              <%#= f.file_field :photo,:id => "file_send", :class => "post_file", :style => "display:none"%>
              <input type="file"id="file_send"class="post_file"style="display:none">
              <input type="hidden"id="group" name="group" value="<%= params[:page1] %>">
              <%#= f.hidden_field :group_id,value: params[:page1] %>
            </form>
            <%# end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="thread_post_cover">
  <div class="modal fade" id="chatModal-enjp" tabindex="-1">
  	<div class="modal-dialog"style="width:90vw">
  		<div class="modal-content">
  			<div class="modal-body">
          <div class="thread_post">
            <div class="post_form_cover post_form_cover_enjp connect_btn">
              <%= image_tag "/eng.png", class: "image" %>
              <textarea name="content"class="en_form connect_btn content_post form-control" rows="6"
              placeholder="&#13;&#10;This side is English form.&#13;&#10;こちらは英語投稿欄です"></textarea>
            </div>
            <div class="post_form_cover post_form_cover_enjp">
              <%= image_tag "jap.png", class: "image" %>
              <textarea name="content"class="jp_form content_post form-control" rows="6"
              placeholder="&#13;&#10;This side is Japanese form.&#13;&#10;こちらは日本語投稿欄です"></textarea>
            </div>
          </div>
          <div class="explain_text">
            <div class="en">
              ●Post it as it is →“POST”<br>
              ●Rewriting words and mistranslations  (not using translation)<br>
                →Rewrite the contents above & “POST”<br>
              ●Rewriting English words & translating it into Jp again →“BACK”<br>
            </div>
            <div class="jp">
              ●このまま投稿→「投稿」<br>
              ●誤記・誤訳を修正して投稿（翻訳を使わない）→上記を書き直す＆「投稿」<br>
              ●日本語の誤記を直して、もう一度英訳→「戻る」<br>
            </div>
            <div class="enjp">
              ●Rewriting words and mistranslations  (not using translation)<br>
                →Rewrite the contents above & “POST”
            </div>
          </div>
  			</div>
  			<div class="modal-footer">
          <button type="button" class="btn btn-default btn_send"id="enjp">
            <div class="float_jp">投稿</div>
            <div class="base_en">Post</div>
          </button>
          <button type="button" class="btn btn-default btn_back" data-dismiss="modal"style="margin-right:calc(50% - 70px);">
            <div class="float_jp">戻る</div>
            <div class="base_en">Back</div>
          </button>
  			</div>
  		</div>
  	</div>
  </div>
</div>
