<div class="profile_notice">
  <div class="lang_bar_cover" data-toggle="tooltip" data-placement="bottom" data-original-title="説明">
    <div class="lang_bar">
      <div class="country_flag en_country">
        <%= image_tag "/eng.png", class: "image" %>
      </div>
      <input id="slider" data-slider-id='ex1Slider' type="text" data-slider-min="0"
          data-slider-max="1000" data-slider-step="1" data-slider-value="500"/>
      <div class="country_flag jp_country">
        <%= image_tag "jap.png", class: "image" %>
      </div>
    </div>
  </div>
  <div class="notice_cover">
    <div class="panel-title"style="display:inline-block">
      <div class="panel-title-text">
        <div class="float_jp">
          フォロワ一覧
        </div>
        <div class="float_en">
          Follower List
        </div>
      </div>
    </div>
    <% there_be = false %>
    <div class="follow_all">
        <% current_user.followings.offset(@thread_page_num*(@page_id - 1)).limit(@thread_page_num).each do |following| %>
          <% there_be = true %>
          <div class="thread_cover link_cover follow_cover">
            <div class="group_user_cover">
              <div class="group_img_cover">
                <% if following.image == 0 %>
                  <% if following.photo.nil? %>
                    <%= image_tag("/userimage/user1.png", :class => "group_img") %>
                  <% else %>
                    <%= image_tag show_image_user_path(following), :class => "group_img" %>
                  <% end %>
                <% else %>
                  <%= image_tag("/userimage/user#{following.image}.png", :class => "group_img") %>
                <% end %>
              </div>
              <div class="group_name">
                <%= simple_format(text_url_to_link(h(following.name))) %>
              </div>
            </div>
            <div class="thread_content">
              <div class="post_content_cover">
                <div class="follow_button<%= following.id %>">
                  <% if current_user.followings.find_by(id: following.id) %>
                    <%= button_tag type:"button",class:"btn mes_button normal_button fullwidth_button unfollow_button_submit",id:following.id do %>
                      <span class="glyphicon glyphicon-star icon" aria-hidden="true"></span>
                      <div class="text_box">
                        <div class="jp">
                          フォロー中
                        </div>
                        <div class="en">
                          Following
                        </div>
                      </div>
                    <% end %>
                  <% else %>
                    <%= button_tag type:"button",class:"btn mes_button normal_button fullwidth_button follow_button_submit",id:following.id do %>
                      <span class="glyphicon glyphicon-star-empty icon" aria-hidden="true"></span>
                      <div class="text_box">
                        <div class="jp">
                          フォローする
                        </div>
                        <div class="en">
                          Follow
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <% if there_be == false %>
      <div class="not_found">
        <div class="en">
          There is no notices.
        </div>
        <div class="jp">
          お知らせはありません
        </div>
      </div>
    <% else %>
      <div class="page_button_cover">
        <% if 1 >= @page_id.round %>
          <div class="page_button no_push">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </div>
        <% else %>
          <%= link_to("/profile/#{params[:id]}/#{@page_id - 1}/#{@page_id2}",class:"page_button ok_push") do %>
            <span class="glyphicon glyphicon-chevron-left"></span>
          <% end %>
        <% end %>
        <% if @start_num.round != 1 %>
          <div class="page_button dot_show">
            ...
          </div>
        <% end %>
        <% for num in @start_num.round..@end_num.round do %>
          <% if num == @page_id %>
            <div class="page_button now_page">
              <%= num %>
            </div>
          <% else %>
            <%= link_to("/profile/#{params[:id]}/#{num}/#{@page_id2}",class:"page_button page_move") do %>
              <%= num %>
            <% end %>
          <% end %>
        <% end %>
        <% if @end_num.round != @page_num.round %>
          <div class="page_button dot_show">
            ...
          </div>
        <% end %>
        <% if @page_num.round <= @page_id.round || @page_num.round == 1 %>
          <div class="page_button no_push">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </div>
        <% else %>
          <%= link_to("/profile/#{params[:id]}/#{@page_id.round + 1}/#{@page_id2}",class:"page_button ok_push") do %>
            <span class="glyphicon glyphicon-chevron-right"></span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="profile_modal">
  <div class="modal fade" id="follow_modal" tabindex="-1">
  	<div class="modal-dialog"style="width:90vw">
  		<div class="modal-content">
  			<div class="modal-body">
          <div class="text_box">
            <div class="text_jp">
              フォローを解除してもよろしいですか？
            </div>
            <div class="text_en">
              Is it ok to unfollow him or her?
            </div>
          </div>
  			</div>
        <div class="modal-footer follow_modal_footer">
          <button type="button" class="btn btn-primary unfollow_modal_submit follow_modal_button">
            <div class="jp">
              実行
            </div>
            <div class="en">
              OK
            </div>
          </button>
          <button type="button" class="btn btn-default follow_modal_button"data-dismiss="modal">
            <div class="jp">
              戻る
            </div>
            <div class="en">
              Back
            </div>
          </button>
        </div>
  		</div>
  	</div>
  </div>
</div>
