<div class="profile_history">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item
    <% if params[:id] == "2" %>
      <%= "active" %>
    <% end %>">
      <a class="nav-link profile_history_change2" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
        <div class="jp">
          作成したスレッド
        </div>
        <div class="en">
          Made Thread
        </div>
      </a>
    </li>
    <li class="nav-item
    <% if params[:id] == "3" %>
      <%= "active" %>
    <% end %>">
      <a class="nav-link profile_history_change3" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
        <div class="jp">
          過去の投稿
        </div>
        <div class="en">
          Previous Posts
        </div>
      </a>
    </li>
  </ul>
  <% if type == "mine" %>
    <div class="lang_bar_cover" data-toggle="tooltip" data-placement="bottom" data-original-title="説明">
      <div class="lang_bar">
        <div class="country_flag en_country">
          <%= image_tag "/eng.png", class: "image" %>
        </div>
        <input id="slider" data-slider-id='ex1Slider' type="text" data-slider-min="0"
            data-slider-max="100" data-slider-step="1" data-slider-value="50"/>
        <div class="country_flag jp_country">
          <%= image_tag "jap.png", class: "image" %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show
    <% if params[:id] == "2" %>
      <%= "active" %>
    <% end %>" id="home" role="tabpanel" aria-labelledby="home-tab">
      <% there_be = false %>
      <% user.groups.offset(@thread_page_num*(@page_id - 1)).limit(@thread_page_num).each do |group| %>
        <% there_be = true %>
        <%= render partial:"/groups/group", locals: { group:group } %>
      <% end %>
      <% if there_be == false %>
        <div class="not_found">
          <div class="en">
            You haven't made any thread.
          </div>
          <div class="jp">
            あなたはまだスレッドを作成していません。
          </div>
        </div>
      <% else %>
        <div class="page_button_cover">
          <% if 1 >= @page_id.round %>
            <div class="page_button no_push">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </div>
          <% else %>
            <%= link_to("/profile/#{params[:id]}/#{@page_id - 1}/#{@page_id2}",class:"page_button ok_push") do %>
              <span class="glyphicon glyphicon-chevron-left"></span>
            <% end %>
          <% end %>
          <% if @start_num.round != 1 %>
            <div class="page_button dot_show">
              ...
            </div>
          <% end %>
          <% for num in @start_num.round..@end_num.round do %>
            <% if num == @page_id %>
              <div class="page_button now_page">
                <%= num %>
              </div>
            <% else %>
              <%= link_to("/profile/#{params[:id]}/#{num}/#{@page_id2}",class:"page_button page_move") do %>
                <%= num %>
              <% end %>
            <% end %>
          <% end %>
          <% if @end_num.round != @page_num.round %>
            <div class="page_button dot_show">
              ...
            </div>
          <% end %>
          <% if @page_num.round <= @page_id.round || @page_num.round == 1 %>
            <div class="page_button no_push">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </div>
          <% else %>
            <%= link_to("/profile/#{params[:id]}/#{@page_id.round + 1}/#{@page_id2}",class:"page_button ok_push") do %>
              <span class="glyphicon glyphicon-chevron-right"></span>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="tab-pane fade
    <% if params[:id] == "3" %>
      <%= "active" %>
    <% end %>" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <% show_group_id = -1 %>
      <% there_be = false %>
      <% user.posts.offset(@thread_page_num2*(@page_id2 - 1)).limit(@thread_page_num2).each do |post| %>
        <% if post.group != nil %>
          <%= render post %>
        <% end %>
      <% end %>
      <% if there_be == false %>
        <div class="not_found">
          <div class="en">
            You haven't post any coment.
          </div>
          <div class="jp">
            まだあなたは投稿をしていません。
          </div>
        </div>
      <% else %>
        <div class="page_button_cover">
          <% if 1 >= @page_id2.round %>
            <div class="page_button no_push">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </div>
          <% else %>
            <%= link_to("/profile/#{params[:id]}/#{@page_id}/#{@page_id2 - 1}",class:"page_button ok_push") do %>
              <span class="glyphicon glyphicon-chevron-left"></span>
            <% end %>
          <% end %>
          <% if @start_num2.round != 1 %>
            <div class="page_button dot_show">
              ...
            </div>
          <% end %>
          <% for num in @start_num2.round..@end_num2.round do %>
            <% if num == @page_id2 %>
              <div class="page_button now_page">
                <%= num %>
              </div>
            <% else %>
              <%= link_to("/profile/#{params[:id]}/#{@page_id}/#{num}",class:"page_button page_move") do %>
                <%= num %>
              <% end %>
            <% end %>
          <% end %>
          <% if @end_num2.round != @page_num2.round %>
            <div class="page_button dot_show">
              ...
            </div>
          <% end %>
          <% if @page_num2.round <= @page_id2.round || @page_num2.round == 1 %>
            <div class="page_button no_push">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </div>
          <% else %>
            <%= link_to("/profile/#{params[:id]}/#{@page_id}/#{@page_id2.round + 1}",class:"page_button ok_push") do %>
              <span class="glyphicon glyphicon-chevron-right"></span>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
