<div class="profile_notice">
  <div class="lang_bar_cover" data-toggle="tooltip" data-placement="bottom" data-original-title="説明">
    <div class="lang_bar">
      <div class="country_flag en_country">
        <%= image_tag "/eng.png", class: "image" %>
      </div>
      <input id="slider" data-slider-id='ex1Slider' type="text" data-slider-min="0"
          data-slider-max="1000" data-slider-step="1" data-slider-value="500"/>
      <div class="country_flag jp_country">
        <%= image_tag "jap.png", class: "image" %>
      </div>
    </div>
  </div>
  <div class="notice_cover">
    <div class="panel-title"style="display:inline-block">
      <div class="panel-title-text">
        <div class="float_jp">
          チャット一覧
        </div>
        <div class="float_en">
          Chat List
        </div>
      </div>
    </div>
    <% there_be = false %>
    <% current_user.notices.offset(@thread_page_num*(@page_id - 1)).limit(@thread_page_num).each do |notice| %>
      <% send_user = notice.users.last %>
      <% to_user = notice.users.last %>
      <%= link_to("/profile/5/#{notice.id}/0" , class:"thread_link") do %>
        <% there_be = true %>
        <div class="thread_cover link_cover">
          <div class="group_user_cover">
            <div class="group_img_cover">
              <% if notice.users.last.id < 1 %>
                <%= image_tag "info.png", :class => "group_img" %>
              <% elsif send_user.id == current_user.id %>
                <% if to_user.image == 0 %>
                  <% if to_user.photo.nil? %>
                    <%= image_tag("/userimage/user1.png", :class => "group_img") %>
                  <% else %>
                    <%= image_tag show_image_user_path(to_user), :class => "group_img" %>
                  <% end %>
                <% else %>
                  <%= image_tag("/userimage/user#{to_user.image}.png", :class => "group_img") %>
                <% end %>
              <% else %>
                <% if send_user.image == 0 %>
                  <% if send_user.photo.nil? %>
                    <%= image_tag("/userimage/user1.png", :class => "group_img") %>
                  <% else %>
                    <%= image_tag show_image_user_path(send_user), :class => "group_img" %>
                  <% end %>
                <% else %>
                  <%= image_tag("/userimage/user#{send_user.image}.png", :class => "group_img") %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="thread_content">
            <div class="post_content_cover">
              <div class="user_name">
                <% if notice.users.last.id < 1 %>
                  <%= FreFre Office %>
                <% else %>
                  <%= User.find(notice.users.last.id).name %>
                <% end %>
              </div>
              <div class="post_content_position en_position">
                <div class="thread_title">
                  <div class="title_padding">
                    <% if send_user.id == current_user.id %>
                      Chat with <%= simple_format(text_url_to_link(h(to_user.name))) %>
                    <% else %>
                      Chat with <%= simple_format(text_url_to_link(h(send_user.name))) %>
                    <% end %>
                  </div>
                </div>
                <div class="post_content">
                  <div class="post_content_text">
                    <%= simple_format(text_url_to_link(h(notice.chats.last.main_en))) %>
                  </div>
                </div>
                <div class="see_more">
                  See more
                </div>
              </div>
              <div class="post_content_position_space">
                <span class="slider_icon glyphicon glyphicon-resize-horizontal"></span>
              </div>
              <div class="post_content_position jp_position">
                <div class="thread_title">
                  <div class="title_padding">
                    <% if send_user.id == current_user.id %>
                      <%= simple_format(text_url_to_link(h(to_user.name))) %>とのチャット
                    <% else %>
                      <%= simple_format(text_url_to_link(h(send_user.name))) %>とのチャット
                    <% end %>
                  </div>
                </div>
                <div class="post_content">
                  <div class="post_content_text">
                    <%= simple_format(text_url_to_link(h(notice.chats.last.main_jp))) %>
                  </div>
                </div>
                <div class="see_more">
                  See more
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if there_be == false %>
      <div class="not_found">
        <div class="en">
          There is no chat.
        </div>
        <div class="jp">
          チャットはありません
        </div>
      </div>
    <% else %>
      <div class="page_button_cover">
        <% if 1 >= @page_id.round %>
          <div class="page_button no_push">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </div>
        <% else %>
          <%= link_to("/profile/#{params[:id]}/#{@page_id - 1}/#{@page_id2}",class:"page_button ok_push") do %>
            <span class="glyphicon glyphicon-chevron-left"></span>
          <% end %>
        <% end %>
        <% if @start_num.round != 1 %>
          <div class="page_button dot_show">
            ...
          </div>
        <% end %>
        <% for num in @start_num.round..@end_num.round do %>
          <% if num == @page_id %>
            <div class="page_button now_page">
              <%= num %>
            </div>
          <% else %>
            <%= link_to("/profile/#{params[:id]}/#{num}/#{@page_id2}",class:"page_button page_move") do %>
              <%= num %>
            <% end %>
          <% end %>
        <% end %>
        <% if @end_num.round != @page_num.round %>
          <div class="page_button dot_show">
            ...
          </div>
        <% end %>
        <% if @page_num.round <= @page_id.round || @page_num.round == 1 %>
          <div class="page_button no_push">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </div>
        <% else %>
          <%= link_to("/profile/#{params[:id]}/#{@page_id.round + 1}/#{@page_id2}",class:"page_button ok_push") do %>
            <span class="glyphicon glyphicon-chevron-right"></span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
