
<% current_user_id = -1 %>
<% if logged_in? %>
  <% current_user_id = current_user.id %>
<% end %>
<div class="profile_menu_tab">
  <div class="get_user_id"id="<%= current_user_id %>"></div>
  <ul class="nav flex-column">
    <li class="nav-item profile_contents_button blue-nav">
      <div class="menu_title">
        <div class="text_cover">
          <div class="jp">
            プロフィールメニュー
          </div>
          <div class="en">
            Profile Menu
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item profile_contents_button <% if params[:id] == nil || params[:id] == "1"%>active<% end %>">
      <%= link_to '/profile/1',class:"nav-link" do %>
        <i class="fas fa-address-card"></i>
        <div class="text_cover">
          <div class="jp">
            プロフィール
          </div>
          <div class="en">
            Profile
          </div>
        </div>
        <div class="menu_right_button">
          <i class="fas fa-plus"></i>
        </div>
      <% end %>
    </li>
    <li class="nav-item profile_contents_button <% if params[:id] == "2" %>active<% end %>">
      <%= link_to '/profile/2',class:"nav-link" do %>
        <i class="fas fa-comments"></i>
        <div class="text_cover">
          <div class="jp">
            作成したトピック
          </div>
          <div class="en">
            Made Topic
          </div>
        </div>
        <div class="menu_right_button">
          <i class="fas fa-plus"></i>
        </div>
      <% end %>
    </li>
    <li class="nav-item profile_contents_button <% if params[:id] == "3"%>active<% end %>">
      <%= link_to '/profile/3',class:"nav-link" do %>
        <i class="fas fa-comment-dots"></i>
        <div class="text_cover">
          <div class="jp">
            過去の投稿
          </div>
          <div class="en">
            Past Post
          </div>
        </div>
        <div class="menu_right_button">
          <i class="fas fa-plus"></i>
        </div>
      <% end %>
    </li>
    <% if Threadtype.find_by(leader_id:current_user.id) != nil %>
      <li class="nav-item profile_contents_button <% if params[:id] == "13" || params[:id] == "14"%>active<% end %>">
        <%= link_to '/profile/13',class:"nav-link" do %>
          <i class="fas fa-users"></i>
          <div class="text_cover">
            <div class="jp">
              作成したコミュニティ
            </div>
            <div class="en">
              Made Community
            </div>
          </div>
          <div class="menu_right_button">
            <i class="fas fa-plus"></i>
          </div>
        <% end %>
      </li>
    <% end %>
    <li class="nav-item profile_contents_button <% if params[:id] == "5" || params[:id] == "6"%>active<% end %>">
      <%= link_to '/profile/5',class:"nav-link" do %>
        <i class="fas fa-comments"></i>
        <div class="text_cover">
          <div class="jp">
            チャット
          </div>
          <div class="en">
            Chat
          </div>
        </div>
        <div class="menu_right_button">
          <i class="fas fa-plus"></i>
        </div>
      <% end %>
    </li>
    <li class="nav-item profile_contents_button <% if params[:id] == "7" || params[:id] == "8"%>active<% end %>">
      <%= link_to '/profile/7',class:"nav-link" do %>
        <i class="fas fa-exclamation-triangle"></i>
        <div class="text_cover">
          <div class="jp">
            お知らせ
          </div>
          <div class="en">
            Notice
          </div>
        </div>
        <div class="menu_right_button">
          <i class="fas fa-plus"></i>
        </div>
      <% end %>
    </li>
    <li class="nav-item profile_contents_button <% if params[:id] == "9"%>active<% end %>">
      <%= link_to '/profile/9',class:"nav-link" do %>
        <%= image_tag "/icon2/follow.png",class:"icon_img" %>
        <div class="text_cover">
          <div class="jp">
            フォロー
          </div>
          <div class="en">
            Following
          </div>
        </div>
        <div class="menu_right_button">
          <i class="fas fa-plus"></i>
        </div>
      <% end %>
    </li>
    <li class="nav-item profile_contents_button <% if params[:id] == "10"%>active<% end %>">
      <%= link_to '/profile/10',class:"nav-link" do %>
        <%= image_tag "/icon2/follow.png",class:"icon_img",style:"transform: scale(-1, 1);" %>
        <div class="text_cover">
          <div class="jp">
            フォロワー
          </div>
          <div class="en">
            Follower
          </div>
        </div>
        <div class="menu_right_button">
          <i class="fas fa-plus"></i>
        </div>
      <% end %>
    </li>
    <li class="nav-item profile_contents_button <% if params[:id] == "12"%>active<% end %>">
      <%= link_to '/profile/12',class:"nav-link" do %>
        <i class="fas fa-edit"></i>
        <div class="text_cover">
          <div class="jp">
            設定
          </div>
          <div class="en">
            Edit
          </div>
        </div>
        <div class="menu_right_button">
          <i class="fas fa-plus"></i>
        </div>
      <% end %>
    </li>
    <li class="nav-item profile_contents_button <% if params[:id] == "24"%>active<% end %>">
      <%= link_to '/profile/24',class:"nav-link" do %>
        <i class="fas fa-user-slash"></i>
        <div class="text_cover">
          <div class="jp">
            このアカウントを退会させる
          </div>
          <div class="en">
            Leave this account
          </div>
        </div>
        <div class="menu_right_button">
          <i class="fas fa-plus"></i>
        </div>
      <% end %>
    </li>
  </ul>
</div>
