
<form>
  <div class="profile_title">
    <div class="title">
      <div class="jp">
        プロフィール
      </div>
      My Profile
      <div class="profile_save_button btn btn-default">
        Save / 保存
      </div>
    </div>
  </div>
  <div class="profile_page row">
    <div class="profile_page_en">
      <div class="col-sm-12">
        <div class="col-sm-12 profile_content">
          <div class="row profile_content_data">
            <div class="content_name">
              <div class="jp">
                プロフィールを公開する
              </div>
              <div class="en">
                Disclose Profile
              </div>
            </div>
            <div class=""style="">
              <div class="no_text">
                NO
              </div>
              <div class="switch">
                <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox"
                <% if current_user.able_see == true %>
                  checked
                <% end %>>
                <label for="cmn-toggle-1"></label>
              </div>
              <div class="yes_text">
                YES
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 profile_content">
          <div class="row profile_content_data">
            <div class="content_name">
              <div class="jp">
                ユーザーネーム
              </div>
              <div class="en">
                Username
              </div>
            </div>
            <div class="profile_content_cover">
              <input id="username"class="form_control content_input form-control" placeholder="Blank"value="<%= current_user.name %>">
            </div>
          </div>
        </div>

        <div class="col-sm-12 profile_content">
          <div class="row profile_content_data">
            <div class="content_name">
              <div class="jp">
                性別
              </div>
              <div class="en">
                Gender
              </div>
            </div>
            <div class="profile_content_cover">
              <select id="gender"class="content_select">
                <option value="">No Selected</option>
                <% if current_user.gender == "Male" %>
                  <option value="Male" selected>Male / 男性</option>
                <% else %>
                  <option value="Male">Male / 男性</option>
                <% end %>
                <% if current_user.gender == "Female" %>
                  <option value="Female" selected>Female / 女性</option>
                <% else %>
                  <option value="Female">Female / 女性</option>
                <% end %>
                <% if current_user.gender == "Neuter" %>
                  <option value="Neuter" selected>Other / その他</option>
                <% else %>
                  <option value="Neuter">Other / その他</option>
                <% end %>
                <% if current_user.gender == "not_answer" %>
                  <option value="not_answer" selected>No answer / 答えない</option>
                <% else %>
                  <option value="not_answer">No answer / 答えない</option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        <!--<div class="col-sm-12 profile_content">
          <div class="profile_content_data row">
            <div class="content_name col-sm-2">
              <div class="jp">
                生年月日
              </div>
              Date Of Birth
            </div>
            <div class="col-sm-10">
              <select id="year"class="content_select">
                <option>Year</option>
                <% 2019.downto(1900) do |num| %>
                  <% if current_user.birth_year == num %>
                    <option value="<%= num %>"selected><%= num %></option>
                  <% else %>
                    <option value="<%= num %>"><%= num %></option>
                  <% end %>
                <% end %>
              </select>
              <select id="month"class="content_select">
                <option>Month</option>
                <% 1.upto(12) do |num| %>
                  <% if current_user.birth_month == num %>
                    <option value="<%= num %>"selected><%= num %></option>
                  <% else %>
                    <option value="<%= num %>"><%= num %></option>
                  <% end %>
                <% end %>
              </select>
              <select id="date"class="content_select">
                <option>Date</option>
                <% 1.upto(31) do |num| %>
                  <% if current_user.birth_day == num %>
                    <option value="<%= num %>"selected><%= num %></option>
                  <% else %>
                    <option value="<%= num %>"><%= num %></option>
                  <% end %>
                <% end %>
              </select>
            </div>
          </div>
        </div>-->
        <div class="profile_content">
          <div class="row profile_content_data">
            <div class="content_name">
              <div class="jp">
                出身国
              </div>
              <div class="en">
                Country
              </div>
            </div>
            <div class="profile_content_cover">
              <select value="<%= current_user.country %>"class="content_select"id="country"name="country">
                <option value="">No selected</option>
                <%= render partial: "country" %>
              </select>
              <script type="text/javascript">
                $("#country option[value='<%= current_user.country %>']").prop("selected","selected");
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="profile_words">
      <button type="button"class="btn help_show"data-toggle="modal" data-target="#help_slide">
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
        <div class="en help_text">
          Usage
        </div>
        <div class="jp help_text">
          使い方
        </div>
      </button>
      <div class="profile_content intro_content">
        <div class="intro">
          <div class="row profile_content_data self_introduction">
            <div class="content_name">
              <div class="jp">
                自己紹介(英語)
              </div>
              <div class="en">
                Introduction
                (English)
              </div>
            </div>
            <textarea id="profile_en"placeholder="Blank"class="form-control content_input textarea"rows="3"><%=current_user.profile_en%></textarea>
          </div>
        </div>
        <div class="space_form prof_trans">
          <button type="button" class="normal_button post_button btn btn_send words_post_button"id="trans"
          name="<% if logged_in? %>logined<% end %>">
            <div class="glyphicon glyphicon-resize-horizontal picture_send"></div>
            <div class="button_text">
              <div class="float_jp">
                翻訳
              </div>
              <div class="right_en">
              Translate
            </div>
          </button>
        </div>
        <div class="intro">
          <div class="row profile_content_data self_introduction">
            <div class=" content_name">
              <div class="jp">
                自己紹介(日本語)
              </div>
              <div class="en">
                Introduction
                (Japanese)
              </div>
            </div>
            <textarea id="profile_jp"placeholder="入力されていません"class="form-control content_input textarea"rows="3"><%=current_user.profile_jp%></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="thread_post_cover">
  <div class="modal fade help_modal" id="help_slide" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div id="carousel-example-generic" class="carousel slide"data-interval="false">
            <!-- Indicators -->
            <button type="button" class="btn btn-secondary close_button" data-dismiss="modal">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="/frefre_explain/profile1.png">
              </div>
              <div class="item">
                <img src="/frefre_explain/profile2.png">
              </div>
              <div class="item">
                <img src="/frefre_explain/profile3.png">
              </div>
              <div class="item">
                <img src="/frefre_explain/profile4.png">
              </div>
              <div class="item">
                <img src="/frefre_explain/profile5.png">
              </div>
              <div class="item">
                <img src="/frefre_explain/profile_je1.png">
              </div>
              <div class="item">
                <img src="/frefre_explain/profile_je2.png">
              </div>
            </div>

            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="toen_change" style="display:none;">
  <p>自己紹介の欄の文章を英語に翻訳しますか？</p>
</div>
<div id="tojp_change" style="display:none;">
  <p>May I translate your englsh introduction to Japanese?</p>
</div>
