
<form>
  <div class="profile_title">
    <div class="title"style="display:none">
      <div class="jp">
        プロフィール
      </div>
      My Profile
      <div class="save_button
      <% if current_user.usertype == "event" %>
        profile_cannot_save
      <% else %>
        profile_save_button
      <% end %>
        btn btn-default">
        Save / 保存
      </div>
    </div>
  </div>
  <div class="profile_page row">
    <%= button_tag data: {toggle: "modal",target: "#profile_change_modal"},type:"button", class:"login_join_button btn mes_button profile_change_link",style:"margin-bottom:0px" do %>
      <div class="text_box">
        <div class="jp">
          Edit Profile / プロフィールを変更する
        </div>
      </div>
    <% end %>
    <div class="profile_page_en">
      <div class="col-sm-12">
        <div class="col-sm-12 profile_content">
          <div class="row profile_content_data">
            <div class="content_name">
              <div class="jp">
                ユーザーネーム
              </div>
              <div class="en">
                Username：
              </div>
            </div>
            <div class="profile_content_cover">
              <%= current_user.name %>
            </div>
          </div>
          <div class="row profile_content_data">
            <div class="content_name">
              <div class="jp">
                性別
              </div>
              <div class="en">
                Gender：
              </div>
            </div>
            <div class="profile_content_cover">
                <% if current_user.gender == "Male" %>
                  <%= "Male / 男性" %>
                <% elsif current_user.gender == "Female" %>
                  <%= "Female / 女性" %>
                <% elsif current_user.gender == "Neuter"  %>
                  <%= "Other / その他" %>
                <% else %>
                  <%= "No answer / 答えない" %>
                <% end %>
            </div>
          </div>
        </div>

        <div class="profile_content">
          <div class="row profile_content_data">
            <div class="content_name">
              <div class="jp">
                出身国
              </div>
              <div class="en">
                Country：
              </div>
            </div>
            <div class="profile_content_cover">
              <% if current_user.country == nil %>
                <%= "No answer / 答えない" %>
              <% else %>
                <%= current_user.country %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="profile_words">
      <div class="profile_content intro_content">
        <div class="intro">
          <div class="row profile_content_data self_introduction">
            <div class="content_name">
              <div class="jp">
                自己紹介(英語)
              </div>
              <div class="en">
                Introduction
                (English)
              </div>
            </div>
            <div class="profile_intro_data">
              <% if current_user.profile_en == nil %>
                Blank / 空
              <% else%>
                <%=current_user.profile_en%>
              <% end %>
            </div>
          </div>
        </div>
        <div class="intro">
          <div class="row profile_content_data self_introduction">
            <div class=" content_name">
              <div class="jp">
                自己紹介(日本語)
              </div>
              <div class="en">
                Introduction
                (Japanese)
              </div>
            </div>
            <div class="profile_intro_data">
              <% if current_user.profile_jp == nil %>
                Blank / 空
              <% else%>
                <%=current_user.profile_jp%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="nav nav-tabs nav-top" id="myTab" role="tablist">
      <li class="nav-item <% if params[:page] == nil || params[:page] == "1" %>active<% end %>">
        <a class="nav-link profile_history_change3" id="popular-tab" data-toggle="tab" href="#popular" role="tab" aria-controls="popular" aria-selected="false">
          <i class="fas fa-users"></i>
          <div class="text_cover">
            <div class="jp">
              参加したグループ
            </div>
            <div class="en">
              Join Group
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item <% if params[:page] == "2" %>active<% end %>">
        <a class="nav-link profile_history_change4" id="latest-tab" data-toggle="tab" href="#group" role="tab" aria-controls="group" aria-selected="false">
          <i class="fas fa-users"></i>
          <div class="text_cover">
            <div class="jp">
              作成したグループ
            </div>
            <div class="en">
              Made Group
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item <% if params[:page] == "3" %>active<% end %>">
        <a class="nav-link profile_history_change4" id="latest-tab" data-toggle="tab" href="#thread" role="tab" aria-controls="thread" aria-selected="false">
          <i class="fas fa-comments"></i>
          <div class="text_cover">
            <div class="jp">
              過去のスレッド
            </div>
            <div class="en">
              Past Thread
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item <% if params[:page] == "4" %>active<% end %>">
        <a class="nav-link profile_history_change4" id="latest-tab" data-toggle="tab" href="#post" role="tab" aria-controls="post" aria-selected="false">
          <i class="fas fa-comment-dots"></i>
          <div class="text_cover">
            <div class="jp">
              過去の投稿
            </div>
            <div class="en">
              Past Post
            </div>
          </div>
        </a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane active" id="popular" role="tabpanel" aria-labelledby="popular-tab">
        <% there_be = false %>
        <% if @join_groups != nil %>
          <% @join_groups.each do |threadtype| %>
            <% there_be = true %>
            <%= render partial:"/threadtype/threadtype", locals: { threadtype:threadtype } %>
          <% end %>
        <% end %>
      </div>
      <div class="tab-pane fade" id="group" role="tabpanel" aria-labelledby="group-tab">
        <% show_group_id = -1 %>
        <% there_be = false %>
        <% if @make_groups != nil %>
          <% @make_groups.each do |threadtype| %>
            <% there_be = true %>
            <%= render partial:"/threadtype/threadtype_edit", locals: { threadtype:threadtype } %>
          <% end %>
        <% end %>
      </div>
      <div class="tab-pane fade" id="thread" role="tabpanel" aria-labelledby="thread-tab">
        <% show_group_id = -1 %>
        <% there_be = false %>
        <% if @make_threads != nil %>
          <% @make_threads.each do |group| %>
            <% there_be = true %>
            <%= render partial:"/groups/group", locals: { group:group,type:"normal" } %>
          <% end %>
        <% end %>
      </div>
      <div class="tab-pane fade" id="post" role="tabpanel" aria-labelledby="post-tab">
        <% show_group_id = -1 %>
        <% there_be = false %>
        <% if @make_posts != nil %>
          <% @make_posts.each do |post| %>
            <% there_be = true %>
            <%= render partial: 'posts/post' ,locals: { post:post,type:"normal"} %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</form>

<div class="thread_post_cover">
  <div class="modal fade help_modal" id="help_slide" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div id="carousel-example-generic" class="carousel slide"data-interval="false">
            <!-- Indicators -->
            <button type="button" class="btn btn-secondary close_button" data-dismiss="modal">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="/frefre_explain/profile1.png">
              </div>
              <div class="item">
                <img src="/frefre_explain/profile2.png">
              </div>
              <div class="item">
                <img src="/frefre_explain/profile3.png">
              </div>
              <div class="item">
                <img src="/frefre_explain/profile4.png">
              </div>
              <div class="item">
                <img src="/frefre_explain/profile5.png">
              </div>
              <div class="item">
                <img src="/frefre_explain/profile_je1.png">
              </div>
              <div class="item">
                <img src="/frefre_explain/profile_je2.png">
              </div>
            </div>

            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="toen_change" style="display:none;">
  <p>自己紹介の欄の文章を英語に翻訳しますか？</p>
</div>
<div id="tojp_change" style="display:none;">
  <p>May I translate your englsh introduction to Japanese?</p>
</div>
