
<% if logged_in? %>
  <div class="profile">
    <div class="user_id"id="<%= current_user.id %>"></div>
    <div class="profile_sub"style="display:inline-block">
      <div class="profile_picture">
        <% if current_user.image == 0 %>
          <% if current_user.photo.nil? %>
            <%= image_tag("/userimage/user1.png", :class => "group_img") %>
          <% else %>
            <%= image_tag show_image_user_path(current_user), :class => "group_img" %>
          <% end %>
        <% else %>
          <%= image_tag("/userimage/user#{current_user.image}.png", :class => "group_img") %>
        <% end %>
        <div class="edit_user">
          <button type="button" class="profile_picture_change " data-toggle="modal" data-target="#image_modal" data-whatever="@mdo">
            <label>
              <div class="jp">
                写真を変更する
              </div>
              <div class="en">
                Change Photo
              </div>
            </label>
          </button>
        </div>
        <div class="name_show">
          <%= current_user.name %>
        </div>
      </div>
      <div class="profile_contents_change">
        <ul class="nav flex-column">
          <li class="nav-item profile_contents_button">
            <%= link_to '/profile/1',class:"nav-link" do %>
              <div class="jp">
                プロフィール
              </div>
              <div class="en">
                Profile
              </div>
            <% end %>
          </li>
          <li class="nav-item profile_contents_button">
            <%= link_to '/profile/2',class:"nav-link" do %>
              <div class="jp">
                履歴
              </div>
              <div class="en">
                History
              </div>
            <% end %>
          </li>
          <li class="nav-item profile_contents_button">
            <%= link_to '/profile/4',class:"nav-link" do %>
              <div class="jp">
                チャット
              </div>
              <div class="en">
                Chat
              </div>
            <% end %>
          </li>
          <li class="nav-item profile_contents_button">
            <%= link_to '/profile/6',class:"nav-link" do %>
              <div class="jp">
                お知らせ
              </div>
              <div class="en">
                Notice
              </div>
            <% end %>
          </li>
          <li class="nav-item profile_contents_button">
            <%= link_to '/profile/8',class:"nav-link" do %>
              <div class="jp">
                フォロワー
              </div>
              <div class="en">
                Follower
              </div>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class="profile_main">
      <% if params[:id].nil? || params[:id] == "1" %>
        <%= render partial:"profile_page" %>
      <% elsif params[:id] == "2" || params[:id] == "3" %>
        <%= render partial:"history" %>
      <% elsif params[:id] == "4" %>
        <%= render partial:"info" %>
      <% elsif params[:id] == "5" %>
        <%= render partial:"detail_info" %>
      <% elsif params[:id] == "6" %>
        <%= render partial:"notice" %>
      <% elsif params[:id] == "7" %>
        <%= render partial:"detail_notice" %>
      <% elsif params[:id] == "8" || params[:id] == "9" %>
        <%= render partial:"follow" %>
      <% end %>
    </div>
  </div>
  <div class="profile_modal">
    <div class="modal fade" id="profile_modal" tabindex="-1">
    	<div class="modal-dialog"style="width:90vw">
    		<div class="modal-content">
    			<div class="modal-body">
            <div class="thread_post">
              <div class="post_form_cover post_form_cover_enjp connect_btn">
                <%= image_tag "/eng.png", class: "image" %>
                <textarea name="content"class="en_form connect_btn content_post form-control" rows="6"
                placeholder="&#13;&#10;This side is English form.&#13;&#10;こちらは英語投稿欄です"></textarea>
              </div>
              <div class="post_form_cover post_form_cover_enjp">
                <%= image_tag "jap.png", class: "image" %>
                <textarea name="content"class="jp_form content_post form-control" rows="6"
                placeholder="&#13;&#10;This side is Japanese form.&#13;&#10;こちらは日本語投稿欄です"></textarea>
              </div>
            </div>
            <div class="explain_text">
              <div class="en">
                ●Post it as it is →“POST”<br>
                ●Rewriting words and mistranslations  (not using translation)<br>
                  →Rewrite the contents above & “POST”<br>
                ●Rewriting English words & translating it into Jp again →“BACK”<br>
              </div>
              <div class="jp">
                ●このまま投稿→「投稿」<br>
                ●誤記・誤訳を修正して投稿（翻訳を使わない）→上記を書き直す＆「投稿」<br>
                ●日本語の誤記を直して、もう一度英訳→「戻る」<br>
              </div>
              <div class="enjp">
                ●Rewriting words and mistranslations  (not using translation)<br>
                  →Rewrite the contents above & “POST”
              </div>
            </div>
    			</div>
    			<div class="modal-footer">
            <button type="button" class="btn btn-default btn_send"id="enjp">
              <div class="float_jp">投稿</div>
              <div class="base_en">Post</div>
            </button>
            <button type="button" class="btn btn-default btn_back" data-dismiss="modal"style="margin-right:calc(50% - 70px);">
              <div class="float_jp">戻る</div>
              <div class="base_en">Back</div>
            </button>
    			</div>
    		</div>
    	</div>
    </div>
  </div>
  <div class="profile_modal">
    <div class="modal fade" id="image_modal" tabindex="-1">
    	<div class="modal-dialog"style="width:90vw">
    		<div class="modal-content">
    			<div class="modal-body">
            <div class="image_change image_change_type">
              <%= image_tag("/user.png", :class=> "image") %>
              <%= form_for current_user,url: "/profile" do |f| %>
                <%= button_tag type: 'button',class:"profile_picture_change normal_button" do %>
                  <label type="button" for="image">
                    <div class="jp">
                      自分で画像を用意する
                    </div>
                    <div class="en">
                      Prepare photo by yourself.
                    </div>
                    <%= f.file_field :photo,id:"image",class:"profile_image_input",style:"display:none" %>
                  </label>
                <% end %>
                <%= f.submit "send",id:"image_submit",style:"display:none" %>
              <% end %>
            </div>
            <div class="image_change image_change_type">
              <%= image_tag("/userimage/user1.png", :class=> "image") %>
              <div class="edit_user">
                <button type="button" class="profile_picture_change normal_button" data-toggle="modal" data-target="#user_image_modal" data-whatever="@mdo">
                  <label>
                    <div class="jp">
                      用意された画像を使用する
                    </div>
                    <div class="en">
                      User Our Image
                    </div>
                  </label>
                </button>
              </div>
            </div>
    			</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn_back" data-dismiss="modal">
              <div class="float_jp">戻る</div>
              <div class="base_en">Back</div>
            </button>
    			</div>
    		</div>
    	</div>
    </div>
  </div>



  <div class="profile_modal">
    <div class="modal fade" id="user_image_modal" tabindex="-1">
    	<div class="modal-dialog"style="width:90vw">
    		<div class="modal-content">
    			<div class="modal-body">
            <% 1.upto(8) do |i| %>
              <div class="image_change image_change_select">
                <%= form_for current_user,url: "/profile" do |f| %>
                  <%= image_tag("/userimage/user#{i.to_s}.png", :class=> "image") %>
                  <div class="edit_user">
                    <%= button_tag type: 'submit',class:"profile_picture_change normal_button" do %>
                      <label>
                        <div class="jp">
                          この画像を選択する
                        </div>
                        <div class="en">
                          Use our image
                        </div>
                      </label>
                    <% end %>
                  </div>
                  <%= f.number_field :image,id:"image_submit",style:"display:none",value:i %>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn_back" data-dismiss="modal">
              <div class="float_jp">戻る</div>
              <div class="base_en">Back</div>
            </button>
    			</div>
    		</div>
    	</div>
    </div>
  </div>
<% else %>
  <div class="panel panel-warning not_logined_cover">
    <div class='panel-body not_logined'>
      If you haven't logged in, you can't see your profile. <br>
      Please login or sign up.<br>
      <br>
      プロフィールを閲覧するためにはログインが必要です。<br>
      ログインかサインインをお願いします。
      <br>
      <%= link_to "/login",class:"login_or_signin btn " do %>
        <div class="jp">ログイン</div>
        <div class="en">Log In</div>
      <% end %>
      <%= link_to "/users",class:"login_or_signin btn " do %>
        <div class="jp">会員登録</div>
        <div class="en">Sign Up</div>
      <% end %>
    </div>
  </div>
<% end %>
