
<% if logged_in? %>
  <div class="profile">
    <div class="profile_sub"style="display:inline-block">
      <div class="profile_picture">
        <% if current_user.image == 0 %>
          <% if current_user.avater.attached? %>
            <%= image_tag current_user.avater , :class => "group_img"%>
          <% else %>
            <% if current_user.photo.nil? %>
              <%= image_tag("/userimage/user1.png", :class => "group_img") %>
            <% else %>
              <%= image_tag show_image_user_path(current_user), :class => "group_img" %>
            <% end %>
          <% end %>
        <% else %>
          <%= image_tag("/userimage/user#{current_user.image}.png", :class => "group_img") %>
        <% end %>
        <div class="edit_user">
          <button type="button" class="profile_picture_change " data-toggle="modal" data-target="#image_modal" data-whatever="@mdo">
            <label>
              <div class="jp">
                写真を変更する
              </div>
              <div class="en">
                Change Photo
              </div>
            </label>
          </button>
        </div>
        <div class="name_show">
          <%= current_user.name %>
        </div>
      </div>
      <div class="profile_contents_change">
        <div class="get_user_id"id="<%= current_user.id %>"></div>
        <ul class="nav flex-column">
          <li class="nav-item profile_contents_button">
            <%= link_to '/profile/1',class:"nav-link" do %>
              <div class="jp">
                プロフィール
              </div>
              <div class="en">
                Profile
              </div>
            <% end %>
          </li>
          <li class="nav-item profile_contents_button">
            <%= link_to '/profile/5',class:"nav-link" do %>
              <div class="jp">
                チャット
              </div>
              <div class="en">
                Chat
              </div>
            <% end %>
          </li>
          <li class="nav-item profile_contents_button">
            <%= link_to '/profile/7',class:"nav-link" do %>
              <div class="jp">
                お知らせ
              </div>
              <div class="en">
                Notice
              </div>
            <% end %>
          </li>
          <li class="nav-item profile_contents_button">
            <%= link_to '/profile/9',class:"nav-link" do %>
              <div class="jp">
                フォロワー
              </div>
              <div class="en">
                Follower
              </div>
            <% end %>
          </li>
          <li class="nav-item profile_contents_button">
            <div class="unsubscribe_modal nav-link"data-toggle="modal" data-target="#unsubscribe_modal">
              <div class="jp">
                退会する
              </div>
              <div class="en">
                Unsubscribe
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="profile_main">
      <% if params[:id].nil? || params[:id] == "1" || params[:id] == "2" || params[:id] == "3" || params[:id] == "4" %>
        <%= render partial:"profile_page" %>
      <% elsif params[:id] == "5" %>
        <%= render partial:"chat" %>
      <% elsif params[:id] == "6" %>
        <%= render partial:"detail_chat" %>
      <% elsif params[:id] == "7" %>
        <%= render partial:"notice" %>
      <% elsif params[:id] == "8" %>
        <%= render partial:"detail_notice" %>
      <% elsif params[:id] == "9" || params[:id] == "10" || params[:id] == "11" %>
        <%= render partial:"follow" %>
      <% elsif params[:id] == "12" %>
        <%= render partial:"retire" %>
      <% end %>

    </div>
  </div>
  <div class="profile_modal">
    <div class="modal fade" id="profile_modal" tabindex="-1">
    	<div class="modal-dialog"style="width:90vw">
    		<div class="modal-content">
    			<div class="modal-body">
            <div class="thread_post">
              <div class="post_form_cover post_form_cover_enjp connect_btn">
                <%= image_tag "/eng.png", class: "image" %>
                <textarea name="content"class="en_form connect_btn content_post form-control" rows="6"
                placeholder="&#13;&#10;This side is English form.&#13;&#10;こちらは英語投稿欄です"></textarea>
              </div>
              <div class="post_form_cover post_form_cover_enjp">
                <%= image_tag "jap.png", class: "image" %>
                <textarea name="content"class="jp_form content_post form-control" rows="6"
                placeholder="&#13;&#10;This side is Japanese form.&#13;&#10;こちらは日本語投稿欄です"></textarea>
              </div>
            </div>
            <div class="explain_text">
              <div class="en">
                ●Post it as it is →“POST”<br>
                ●Rewriting words and mistranslations  (not using translation)<br>
                  →Rewrite the contents above & “POST”<br>
                ●Rewriting English words & translating it into Jp again →“BACK”<br>
              </div>
              <div class="jp">
                ●このまま投稿→「投稿」<br>
                ●誤記・誤訳を修正して投稿（翻訳を使わない）→上記を書き直す＆「投稿」<br>
                ●日本語の誤記を直して、もう一度英訳→「戻る」<br>
              </div>
              <div class="enjp">
                ●Rewriting words and mistranslations  (not using translation)<br>
                  →Rewrite the contents above & “POST”
              </div>
            </div>
    			</div>
    			<div class="modal-footer">
            <button type="button" class="btn btn-default btn_send"id="enjp">
              <div class="float_jp">投稿</div>
              <div class="base_en">Post</div>
            </button>
            <button type="button" class="btn btn-default btn_back" data-dismiss="modal"style="margin-right:calc(50% - 70px);">
              <div class="float_jp">戻る</div>
              <div class="base_en">Back</div>
            </button>
    			</div>
    		</div>
    	</div>
    </div>
  </div>

  <div class="profile_modal">
    <div class="modal fade" id="unsubscribe_modal" tabindex="-1">
    	<div class="modal-dialog"style="width:90vw">
    		<div class="modal-content">
    			<div class="modal-body"style="font-size: 18px;">
            アカウントを解除してよろしいですか?<br>
            Do you want to delete your account?
    			</div>
    			<div class="modal-footer">
            <%= form_tag({controller: :profile, action: :retire}, { method: :post,style:"display:inline-block"})  do  %>
              <button type="submit" class="btn btn-default btn_send"id="enjp"style="background:#ff2222">
                <div class="float_jp">削除</div>
                <div class="base_en">Delete</div>
              </button>
            <% end %>
            <button type="button" class="btn btn-default btn_back" data-dismiss="modal"style="margin-right:calc(50% - 70px);">
              <div class="float_jp">戻る</div>
              <div class="base_en">Back</div>
            </button>
    			</div>
    		</div>
    	</div>
    </div>
  </div>

  <div class="profile_modal">
    <div class="modal fade" id="image_modal" tabindex="-1">
    	<div class="modal-dialog"style="width:90vw">
    		<div class="modal-content">
    			<div class="modal-body">
            <div class="image_change image_change_type">
              <%= image_tag("/user.png", :class=> "image") %>
              <%= form_for current_user do |form| %>
                <%= button_tag type: 'button',class:"profile_picture_change normal_button" do %>
                  <label type="button" for="image">
                    <div class="jp">
                      自分で画像を用意する
                    </div>
                    <div class="en">
                      Prepare photo by yourself.
                    </div>
                    <%= form.file_field :avater,id:"image",class:"profile_image_input",style:"display:none" %>
                  </label>
                <% end %>
                <%= form.submit "send",id:"image_submit_change",style:"display:none" %>
              <% end %>
              <!--
              <%= form_for current_user,url: "/profile" do |f| %>
                <%= button_tag type: 'button',class:"profile_picture_change normal_button" do %>
                  <label type="button" for="image">
                    <div class="jp">
                      自分で画像を用意する
                    </div>
                    <div class="en">
                      Prepare photo by yourself.
                    </div>
                    <%= f.file_field :photo,id:"image",class:"profile_image_input",style:"display:none" %>
                  </label>
                <% end %>
                <%= f.submit "send",id:"image_submit",style:"display:none" %>
              <% end %>
              -->
            </div>
            <div class="image_change image_change_type">
              <%= image_tag("/userimage/user1.png", :class=> "image") %>
              <div class="edit_user">
                <button type="button" class="profile_picture_change normal_button" data-toggle="modal" data-target="#user_image_modal" data-whatever="@mdo">
                  <label>
                    <div class="jp">
                      用意された画像を使用する
                    </div>
                    <div class="en">
                      User Our Image
                    </div>
                  </label>
                </button>
              </div>
            </div>
    			</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn_back" data-dismiss="modal">
              <div class="float_jp">戻る</div>
              <div class="base_en">Back</div>
            </button>
    			</div>
    		</div>
    	</div>
    </div>
  </div>



  <div class="profile_modal">
    <div class="modal fade" id="user_image_modal" tabindex="-1">
    	<div class="modal-dialog"style="width:90vw">
    		<div class="modal-content">
    			<div class="modal-body">
            <% 1.upto(8) do |i| %>
              <div class="image_change image_change_select">
                <%= form_for current_user,url: "/profile" do |f| %>
                  <%= image_tag("/userimage/user#{i.to_s}.png", :class=> "image") %>
                  <div class="edit_user">
                    <%= button_tag type: 'submit',class:"profile_picture_change normal_button" do %>
                      <label>
                        <div class="jp">
                          この画像を選択する
                        </div>
                        <div class="en">
                          Use our image
                        </div>
                      </label>
                    <% end %>
                  </div>
                  <%= f.number_field :image,id:"image_submit",style:"display:none",value:i %>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn_back" data-dismiss="modal">
              <div class="float_jp">戻る</div>
              <div class="base_en">Back</div>
            </button>
    			</div>
    		</div>
    	</div>
    </div>
  </div>

  <div class="profile_change_modal profile">
    <div class="modal fade" id="profile_change_modal" tabindex="-1">
      <form>
        <div class="profile_title">
          <div class="title"style="display:none">
            <div class="jp">
              プロフィール
            </div>
            My Profile
            <div class="save_button
            <% if current_user.usertype == "event" %>
              profile_cannot_save
            <% else %>
              profile_save_button
            <% end %>
              btn btn-default">
              Save / 保存
            </div>
          </div>
        </div>
        <div class="profile_page row">
          <div class="profile_page_en">
            <div class="col-sm-12">
              <div class="col-sm-12 profile_content">
                <div class="row profile_content_data">
                  <div class="content_name">
                    <div class="jp">
                      プロフィールを公開する
                    </div>
                    <div class="en">
                      Disclose Profile
                    </div>
                  </div>
                  <div class=""style="">
                    <div class="no_text">
                      NO
                    </div>
                    <div class="switch">
                      <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox"
                      <% if current_user.able_see == true %>
                        checked
                      <% end %>>
                      <label for="cmn-toggle-1"></label>
                    </div>
                    <div class="yes_text">
                      YES
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 profile_content">
                <div class="row profile_content_data">
                  <div class="content_name">
                    <div class="jp">
                      ユーザーネーム
                    </div>
                    <div class="en">
                      Username
                    </div>
                  </div>
                  <div class="profile_content_cover">
                    <input id="username"class="form_control content_input form-control" placeholder="Blank"value="<%= current_user.name %>">
                  </div>
                </div>
                <div class="row profile_content_data">
                  <div class="content_name">
                    <div class="jp">
                      性別
                    </div>
                    <div class="en">
                      Gender
                    </div>
                  </div>
                  <div class="profile_content_cover">
                    <select id="gender"class="content_select">
                      <option value="">No Selected</option>
                      <% if current_user.gender == "Male" %>
                        <option value="Male" selected>Male / 男性</option>
                      <% else %>
                        <option value="Male">Male / 男性</option>
                      <% end %>
                      <% if current_user.gender == "Female" %>
                        <option value="Female" selected>Female / 女性</option>
                      <% else %>
                        <option value="Female">Female / 女性</option>
                      <% end %>
                      <% if current_user.gender == "Neuter" %>
                        <option value="Neuter" selected>Other / その他</option>
                      <% else %>
                        <option value="Neuter">Other / その他</option>
                      <% end %>
                      <% if current_user.gender == "not_answer" %>
                        <option value="not_answer" selected>No answer / 答えない</option>
                      <% else %>
                        <option value="not_answer">No answer / 答えない</option>
                      <% end %>
                    </select>
                  </div>
                </div>
              </div>
              <!--<div class="col-sm-12 profile_content">
                <div class="profile_content_data row">
                  <div class="content_name col-sm-2">
                    <div class="jp">
                      生年月日
                    </div>
                    Date Of Birth
                  </div>
                  <div class="col-sm-10">
                    <select id="year"class="content_select">
                      <option>Year</option>
                      <% 2019.downto(1900) do |num| %>
                        <% if current_user.birth_year == num %>
                          <option value="<%= num %>"selected><%= num %></option>
                        <% else %>
                          <option value="<%= num %>"><%= num %></option>
                        <% end %>
                      <% end %>
                    </select>
                    <select id="month"class="content_select">
                      <option>Month</option>
                      <% 1.upto(12) do |num| %>
                        <% if current_user.birth_month == num %>
                          <option value="<%= num %>"selected><%= num %></option>
                        <% else %>
                          <option value="<%= num %>"><%= num %></option>
                        <% end %>
                      <% end %>
                    </select>
                    <select id="date"class="content_select">
                      <option>Date</option>
                      <% 1.upto(31) do |num| %>
                        <% if current_user.birth_day == num %>
                          <option value="<%= num %>"selected><%= num %></option>
                        <% else %>
                          <option value="<%= num %>"><%= num %></option>
                        <% end %>
                      <% end %>
                    </select>
                  </div>
                </div>
              </div>-->
              <div class="profile_content">
                <div class="row profile_content_data">
                  <div class="content_name">
                    <div class="jp">
                      出身国
                    </div>
                    <div class="en">
                      Country
                    </div>
                  </div>
                  <div class="profile_content_cover">
                    <select value="<%= current_user.country %>"class="content_select"id="country"name="country">
                      <option value="">No selected</option>
                      <%= render partial: "country" %>
                    </select>
                    <script type="text/javascript">
                      $("#country option[value='<%= current_user.country %>']").prop("selected","selected");
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="profile_words">
            <button type="button"class="btn help_show"data-toggle="modal" data-target="#help_slide">
              <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
              <div class="en help_text">
                Usage
              </div>
              <div class="jp help_text">
                使い方
              </div>
            </button>
            <div class="profile_content intro_content">
              <div class="intro">
                <div class="row profile_content_data self_introduction">
                  <div class="content_name">
                    <div class="jp">
                      自己紹介(英語)
                    </div>
                    <div class="en">
                      Introduction
                      (English)
                    </div>
                  </div>
                  <textarea id="profile_en"placeholder="Blank"class="form-control content_input textarea"rows="5"><%=current_user.profile_en%></textarea>
                  <%= link_to "https://miraitranslate.com/",class:"mirai_logo left_logo" do %>
                    Powered by MT
                  <% end %>
                </div>
              </div>
              <div class="space_form prof_trans">
                <div class="trans_cover">
                  <button type="button" class="normal_button post_button btn  btn_send words_post_button"id="trans_to_en"
                  name="<% if logged_in? %>logined<% end %>">
                    <div class="glyphicon glyphicon-arrow-left picture_send"></div>
                    <div class="button_text button_text_jp">
                      翻訳
                    </div>
                  </button>
                </div>
                <div class="trans_cover">
                  <button type="button" class="normal_button post_button btn  btn_send words_post_button"id="trans_to_jp"
                  name="<% if logged_in? %>logined<% end %>">
                    <div class="glyphicon glyphicon-arrow-right picture_send"></div>
                    <div class="button_text button_text_en">
                      Trans
                    </div>
                  </button>
                </div>
              </div>
              <div class="intro">
                <div class="row profile_content_data self_introduction">
                  <div class=" content_name">
                    <div class="jp">
                      自己紹介(日本語)
                    </div>
                    <div class="en">
                      Introduction
                      (Japanese)
                    </div>
                  </div>
                  <textarea id="profile_jp"placeholder="入力されていません"class="form-control content_input textarea"rows="5"><%=current_user.profile_jp%></textarea>
                  <%= link_to "https://miraitranslate.com/",class:"mirai_logo right_logo" do %>
                    翻訳提供 未来翻訳
                  <% end %>
                </div>
              </div>
              <div class="save_button_bottom
              <% if current_user.usertype == "event" %>
                profile_cannot_save
              <% else %>
                profile_save_button
              <% end %>
                btn btn-default">
                Save / 保存
              </div>

              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close / 閉じる</button>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
<% else %>
  <div class="panel panel-warning not_logined_cover">
    <div class='panel-body not_logined'>
      If you haven't logged in, you can't see your profile. <br>
      Please login or sign up.<br>
      <br>
      プロフィールを閲覧するためにはログインが必要です。<br>
      ログインかサインインをお願いします。
      <br>
      <%= link_to "/login_page",class:"login_or_signin btn " do %>
        <div class="jp">ログイン</div>
        <div class="en">Log In</div>
      <% end %>
      <%= link_to "/users",class:"login_or_signin btn " do %>
        <div class="jp">会員登録</div>
        <div class="en">Sign Up</div>
      <% end %>
    </div>
  </div>
<% end %>
