<% url = request.fullpath %>
<div class="header">
  <% if logged_in? %>
    <div class="user_id"id="<%= current_user.id %>"></div>
  <%end%>
  <div class="width_set"style="width:100vw;">
    <%= link_to '/', data: {"turbolinks"=>false},class:"header_logo" do %>
      <div class="title_logo">
        <%= image_tag "/frefre2.png", class: "image" %>
      </div>
    <% end %>
    <div class="header_search">
      <%= form_tag('/search/header',method: :post,class: "search_form_top") do %>
        <span class="input-group-btn">
          <% link_to "/" %>
          <button type="submit"class="btn btn-warning form_button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
        <%= text_field_tag :search_text ,"", class: "form-control form_input",placeholder:"Comunity Search / コミュニティ検索" %>
      <% end %>
    </div>
    <div class="nav-fall border">
      <% if logged_in?  %>
        <div class="login_button"style="padding-right: 25px;">
          <div class="text_fill
            <% if url.include?('/profile/6') %>
              <%= "now_page" %>
            <% end %>">
            <%= link_to '/profile/7',class:"link_text" do %>
              <div class="height_control"></div>
              <span class="icon glyphicon glyphicon-bell"></span>
              <div class="text">
                <div class="float_jap">お知らせ</div>
                <div class="base_en">Notice</div>
              </div>
            <% end %>
            <% userinfos = current_user.userinfos.where("seen":false) %>
            <% if userinfos.count > 0 %>
              <div class="notice_num">
                <div class="notice_num_text">
                  <%= userinfos.count %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="login_button dropdown">
          <div class="text_fill dropdown-toggle
            <% if url.include?('/profile') %>
              <%= "now_page" %>
            <% end %>"data-toggle="dropdown">
            <%= link_to '/category/show',class:"link_text",onclick:"window.location.href = '/profile';" do %>
              <div class="height_control"></div>
              <span class="icon glyphicon glyphicon-user"></span>
              <div class="text">
                <div class="float_jap">マイページ</div>
                <div class="base_en">My Page</div>
              </div>
            <% end %>
          </div>
          <ul class="dropdown-menu url_menu">
            <li class="url_tab_li"><%= link_to("/profile" , class:"url_tab") do%>
              <div class="jp">
                プロフィール
              </div>
              Profile
            <% end %></li>
            <li><%= link_to("/profile/13" , class:"url_tab") do%>
              <div class="jp">
                作成コミュニティ
              </div>
              Community
            <% end %></li>
            <li><%= link_to("/profile/5" , class:"url_tab") do%>
              <div class="jp">
                チャット
              </div>
              Chat
            <% end %></li>
            <li><%= link_to("/profile/7" , class:"url_tab") do%>
              <div class="jp">
                お知らせ
              </div>
              Notice
            <% end %></li>
            <li><%= link_to("/profile/9" , class:"url_tab") do%>
              <div class="jp">
                フォロワー
              </div>
              Follower
            <% end %></li>
            <li>
              <%= form_tag('/logout/inner',method: :post,class:"url_tab url_tab_form") do %>
                <button type="submit"class="logout_button">
                  <div class="jp">
                    ログアウト
                  </div>
                  Logout
                </button>
              <% end %>
            </li>
          </ul>
        </div>
      <% else %>
        <%= link_to("/sessions/event_login" , class:"login_button") do %>
          <div class="text_fill
          <% if url.include?('/login_page') %>
            <%= "now_page" %>
          <% end %>" style="padding-right: 25px;">
            <div class="height_control"></div>
            <span class="icon glyphicon glyphicon-log-in"></span>
            <div class="text">
              <div class="float_jap">ログイン</div>
              <div class="base_en">Log In</div>
            </div>
          </div>
        <% end %>
        <%= link_to("/users" , class:"login_button",style:"padding-right:2px") do %>
          <div class="text_fill
          <% if url.include?('/users') %>
            <%= "now_page" %>
          <% end %>">
            <div class="height_control"></div>
            <span class="icon glyphicon glyphicon-user"></span>
            <div class="text">
              <div class="float_jap">会員登録</div>
              <div class="base_en">Sign Up</div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="header_plus"></div>
<% if 1 == 2 && !url.include?('profile') && !url.include?('users') && !url.include?('login') && !url.include?('policy') &&
!url.include?('term') && !url.include?('contact') && !url.include?('groups') && !url.include?('notice') &&
!url.include?('account_activations') && !url.include?('help') && !url.include?('oauth_complete') &&
!url.include?('create_oauth') && !url.include?('password_resets') && !url.include?('threadtype/new') &&
!current_page?(root_path) && !url.include?("home") && !url.include?('popular') && !url.include?('latest') && !url.include?("threadtype/show")%>
  <div class="lang_bar_cover" id="lang_bar_cover"data-toggle="tooltip" data-placement="bottom" data-original-title="説明">
    <span class="glyphicon glyphicon-chevron-up up_slider" aria-hidden="true"></span>
    <div class="lang_bar">
      <div class="country_flag en_country">
        Hide English
      </div>
      <input id="slider" data-slider-id='ex1Slider' type="text" data-slider-min="0"
          data-slider-max="100" data-slider-step="1" data-slider-value="50"/>
      <div class="country_flag jp_country">
        日本語非表示
      </div>
    </div>
  </div>
  <span class="glyphicon glyphicon-chevron-down down_slider" aria-hidden="true"></span>
<% end %>
<div class="add_header">
  <div class="thread_button_all"style="display:none">
    <%= link_to "/groups", class: " btn btn-danger thread_button help" do %>
      <div class="thread_button_jp">緊急トピック</div>
      Help Topic
    <% end %>
    <% if @test_id.nil? %>
      <%= link_to "/groups", data: {"turbolinks"=>false},class: "btn btn-info thread_button make" do %>
        <div class="thread_button_jp">トピック作成</div>
        Make Topics
      <% end %>
    <% else %>
      <%= link_to "/groups/?category_id=#{@test_id}",data: {"turbolinks"=>false}, class: "btn btn-info thread_button make" do %>
        <div class="thread_button_jp">トピック作成</div>
        Make Topics
      <% end %>
    <% end %>
  </div>
</div>

<style>
  .dropdown:hover > .dropdown-menu{
    display:block;
  }
</style>
