<!DOCTYPE html>

<% url = request.fullpath %>
<%= include_gon %>
<html class="top-page">
  <head>
    <%= favicon_link_tag 'frefre_icon.png',style:"border-radius:50%"%>
    <title>FreFre / Forum with Japanese : 外国人との掲示板</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name=”description” content=”Forum with Japanese(make friends,travel, culture, problems) / 翻訳機能で簡単に外国人と話せる掲示板 。英語が苦手でも大丈夫。チャットで困ったこと・知りたいことに答えて、外国人と仲良くなれます。”>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script>
  </script>
  </head>
  <body>
    <% if url.include?('manager') %>
      <%= render partial:'manager/header' %>
      <div class="main_content_cover manager_content_cover"id="main_content_cover">
    <% else %>
      <%= render partial:'layouts/header' %>
      <div class="main_content_cover"id="main_content_cover">
    <% end %>
      <%= yield %>
    </div>
    <% if !url.include?('profile') && !url.include?('users') && !url.include?('login') && !url.include?('policy') &&
    !url.include?('term') && !url.include?('contact') && !url.include?('oauth_complete') && !url.include?('create_oauth') &&
    !url.include?('manager') %>
      <div class="sub_content_cover">
        <%#= image_tag "/samune3.png", class: "image" %>
        <!--iframe src="https://www.youtube.com/embed/E6YC7WTHafg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe-->
      </div>
    <% end %>
    <%= render partial:'layouts/footer' %>
  </body>
  <div class="modal fade" id="successModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="how_that">
            <div class="jp"></div>
            <div class="en"></div>
          </div>
          <div class="delete_html">
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
<script>
  alert_get()
  <% if !flash["alert_en"].nil? && !flash["alert_jp"].nil? %>
    alert_modal('<%= flash["alert_en"] %>','<%= flash["alert_jp"] %>','<%= flash["alert_type"] %>')
    <% flash["alert_en"] = nil %>
    <% flash["alert_jp"] = nil %>
    <% flash["alert_type"] = nil %>
  <% end %>
</script>
