<!DOCTYPE html>

<% url = request.fullpath %>
<%= include_gon %>
<html class="top-page">
  <head>
    <link rel="index" href="https://www.frefreforum.com/" />
    <%= favicon_link_tag 'frefre_icon.png',style:"border-radius:50%"%>
    <title>FreFre / Forum with Japanese : 外国人との掲示板</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name=”description” content=”Forum with Japanese(make friends,travel, culture, problems) / 翻訳機能で簡単に外国人と話せる掲示板 。英語が苦手でも大丈夫。チャットで困ったこと・知りたいことに答えて、外国人と仲良くなれます。”>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://vjs.zencdn.net/7.6.0/video-js.css" rel="stylesheet">
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
    <script data-ad-client="ca-pub-2088744114390591" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body>

    <% if url.include?('manager') %>
      <%= render partial:'manager/header' %>
      <div class="main_content_cover manager_content_cover"id="main_content_cover">
    <% else %>
      <%= render partial:'layouts/header' %>
      <% if !url.include?('profile') && !url.include?('users') && !url.include?('login') && !url.include?('policy') &&
      !url.include?('term') && !url.include?('contact') && !url.include?('oauth_complete') && !url.include?('create_oauth') &&
      !url.include?('manager') %>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle  ads_center_top"
         style="display:block"
         data-ad-format="fluid"
         data-ad-layout-key="-hm-7+2h-1m-4u"
         data-ad-client="ca-pub-2088744114390591"
         data-ad-slot="5864899455"></ins>
      <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
        <div class="main_content_cover"id="main_content_cover">
      <% else %>
        <div class="main_content_cover"id="main_content_cover"style="margin-top:50px">
      <% end %>
    <% end %>
      <%= yield %>
      <script src='https://vjs.zencdn.net/7.6.0/video.js'></script>
    </div>
    <% if !url.include?('profile') && !url.include?('users') && !url.include?('login') && !url.include?('policy') &&
    !url.include?('term') && !url.include?('contact') && !url.include?('oauth_complete') && !url.include?('create_oauth') &&
    !url.include?('manager') %>
      <div class="sub_content_cover">
        <ins class="adsbygoogle"
         style="display:inline-block;width:300px;height:200px"
         data-ad-client="ca-pub-2088744114390591"
         data-ad-slot="5980040403"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <a href="//af.moshimo.com/af/c/click?a_id=1672702&p_id=906&pc_id=1119&pl_id=19363&guid=ON" rel="nofollow">
          <img src="//image.moshimo.com/af-img/0270/000000019363.jpg" width="300" height="250" style="border:none;">
        </a>
        <img src="//i.moshimo.com/af/i/impression?a_id=1672702&p_id=906&pc_id=1119&pl_id=19363" width="1" height="1" style="border:none;">
        <%= link_to "https://miraitranslate.com/" do %>
          <%= image_tag("/mirai.png", :class => "mirai_img") %>
        <% end %>
        <%= render partial:"news/news_top" %>
        <!--iframe src="https://www.youtube.com/embed/E6YC7WTHafg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe-->
      </div>
    <% end %>
    <%= render partial:'layouts/footer' %>
  </body>
  <div class="modal fade" id="successModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="how_that">
            <div class="jp"></div>
            <div class="en"></div>
          </div>
          <div class="delete_html">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="fakeLoader"style="z-index:3"></div>

</html>
<script>

  <% if !flash["alert_en"].nil? && !flash["alert_jp"].nil? && flash["alert_type"]%>
    alert_modal('<%= flash["alert_en"] %>','<%= flash["alert_jp"] %>','<%= flash["alert_type"] %>')
  <% end %>
  alert_get()

</script>
