<!DOCTYPE html>

<% url = request.fullpath %>
<html class="top-page">
  <head>
    <%= favicon_link_tag 'frefre_icon.png',style:"border-radius:50%"%>
    <title>FreFre　/　Forum for making Japanese friends : 外国人と友達になれる掲示板サイト</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name=”description” content=”Site for communication with Japanese who answer your questions about ” wanna know”　“in trouble” 　“make friends”.／外国人の「知りたい」「困った」「友達になりたい」に答えるコミュニティサイト。英語と日本語の両方で表示されており、英語が苦手なあなたも翻訳機能で簡単にチャットできます。”>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <%= render partial:'layouts/header' %>
    <div class="main_content_cover"id="main_content_cover">
      <%= yield %>
    </div>
    <% if !url.include?('profile') && !url.include?('users') && !url.include?('login') && !url.include?('policy') &&
    !url.include?('term') && !url.include?('contact') %>
      <div class="sub_content_cover">
        <%#= image_tag "/samune3.png", class: "image" %>
        <!--iframe src="https://www.youtube.com/embed/E6YC7WTHafg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe-->
      </div>
    <% end %>
    <%= render partial:'layouts/footer' %>
  </body>
  <div class="modal fade" id="successModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="how_that">
            <div class="jp"></div>
            <div class="en"></div>
          </div>
          <div class="delete_html">
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
<script>
  alert_get()
  <% if !flash["alert_en"].nil? && !flash["alert_jp"].nil? %>
    alert_modal('<%= flash["alert_en"] %>','<%= flash["alert_jp"] %>','<%= flash["alert_type"] %>')
    <% flash["alert_en"] = nil %>
    <% flash["alert_jp"] = nil %>
    <% flash["alert_type"] = nil %>
  <% end %>
</script>
